.archive-view {
    .post,
    .page {
        position: relative;
        //border: 1px solid $color__text-header;
        border-radius: 5px;
        padding-bottom: 1.5em;
    }

    /*.post_content {
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;

        @media sceen and (min-width: 768px) {
            padding-left: 2em;
            padding-right: 2em;
        }
    }*/

}
.continue-reading {
	right: 5px;
	bottom: 5px;
    text-align: center;

    a {
        display: block;
        @include button-light

        &:after {
            content: $glyph__arrow-next;
        }
    }

    @media screen and (min-width: 768px) {
        position: absolute;
    }
}
@media screen and (min-width: 900px) {
    .archive-view.has-sidebar{

        .site-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .content-area {
            width: 65%;
        }

        .widget-area {
            width: 30%;
        }
    }
	.site-main .page-header {
		width: 100%;
		flex: 1 0 100%;
	}
}
