/*--------------------------------------------------------------
## Media Styles
--------------------------------------------------------------*/

.alignwide:not(.wp-block-columns):not(p) {
    /* displays as alignfull on small screens */
    @include full-bleed;
}

.alignfull {
    width: 100vw !important;
    max-width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

figure.wp-block-image {
	&.alignwide {
		max-width: initial !important;
	}
}

.wp-block-image figcaption {
	font-size: $font-size-xs;
	color: initial; // cancel default
	opacity: .7;
	font-family: $font-UI;
}

div.wp-block-image {
	/*
	** Allow images to float outside of the reading area.
	** Target the div because that's what aligned image figures are wrapped in.
	*/
	max-width: 100% !important;
	text-align: center;
}

@media screen and (min-width: $breakpoint-3) {
    .alignwide {
        // disables the full-bleed on large screens
        margin-left: 0;
        margin-right: 0;
    }
}

%figcaption {
    background: linear-gradient(0deg,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 80%,transparent); // rgba(0, 0, 0, .5);
    //color: $color-text-light;
	padding: .2em .5em;
	font-size: $font-size-xs;
}
.wp-block-gallery .blocks-gallery-item figcaption {
    @extend %figcaption;
}
.single .featured-image figcaption {
    @extend %figcaption;
    width: 100%;
    text-align: right;
}

.wp-block-cover .wp-block-cover-text {
    font-family: $font-headers;
	color: $color-bg-body;
	font-size: $font-size-xl;
}

.wp-block-button a.wp-block-button__link,
.wp-block-file a.wp-block-file__button {
	@include button;
	font-size: $font-size-md;
	box-shadow: 0 .125em .125em .125em rgba(0, 0, 0, 0.3);

	&:hover,
	&:focus,
	&:active,
	&:visited {
		// This is just to cancel the built in style
		box-shadow: 0 .125em .125em .125em rgba(0, 0, 0, 0.3);
	}
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    border: 2px solid currentcolor;
	border-radius: .625em;
	box-shadow: none;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		box-shadow: none;
	}
    
    &:not(.has-text-color) {
        color: $color-link;
        
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    
    &:not(.has-background) {
        background: transparent;
        border-color: currentcolor;
        
        &:hover,
        &:focus {
            border-color: currentcolor;
        }
    }
}

.wp-block-latest-posts {
    // copied from _widgets.scss
    padding: 0;
    list-style: none;
    li {
        border-bottom: 1px dashed $color-border;
        padding: .75em 0;
        a {
            display: block;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    } 
}


// replace default css
@media (min-width:600px) {
    .wp-block-column {
        flex-basis: 100%; //50%;
        flex-grow: 0
    }
    
    .wp-block-column:nth-child(odd) {
        margin-right: 0; //32px
    }

    .wp-block-column:nth-child(even) {
        margin-left: 0; //32px
    }

    .wp-block-column:not(:first-child) {
        margin-left: 0; //32px
    }

    .wp-block-column:not(:last-child) {
        margin-right: 0; //32px
    }
}

@media (min-width: $breakpoint-1) {
     // replaces the built-in media query with something better
    .wp-block-columns {
        flex-wrap: nowrap;
    }

    .wp-block-column {
        flex-basis: 50%;
        flex-grow: 0
    }

    .wp-block-column:nth-child(odd) {
        margin-right: 32px
    }

    .wp-block-column:nth-child(even) {
        margin-left: 32px
    }

    .wp-block-column:not(:first-child) {
        margin-left: 32px
    }

    .wp-block-column:not(:last-child) {
        margin-right: 32px
	}
}

@media screen and (min-width: $breakpoint-3) {
    .wp-block-cover .wp-block-cover-text {
		font-size: $font-size-xxl;
    }
}