/**
 * Typography
 */
.wp-block-code {
	// Extend the <code> style so it can appear in the editor,
	// but stop the <code> font-size from being applied twice on the front end.
	@extend code;
	code {
		font-size: inherit;
	}
}
.wp-block-code .editor-plain-text {
	// stops the built-in style from overriding ours
	font-family: inherit;
	font-size: 1em;
}

.wp-block-pullquote {
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	padding: 2em 0;
	blockquote {
		border-left: none;
	}
	blockquote > .editor-rich-text p, // for editor
	p {
		font-size: $font-size-xl;
	}
}

/**
 * Media
 */

.alignwide:not(.wp-block-columns):not(p) {
    /* displays as alignfull on small screens */
    @include full-bleed;
}

.alignfull {
    @include alignfull;
}

figure.wp-block-image {
	&.alignwide {
		max-width: initial !important;
	}
}

.wp-block-image figcaption { // greater specificity = override built-in style
	color: $color-text-main; // cancel built-in color
	@include figcaption;
}

// div.wp-block-image {
// 	/*
// 	** Allow images to float outside of the reading area.
// 	** Target the div because that's what aligned image figures are wrapped in.
// 	*/
// 	max-width: 100% !important;
// 	text-align: center;
// }

@media screen and (min-width: $breakpoint-3) {
    .alignwide {
        @include full-bleed-cancel;
    }
}

.wp-block-gallery .blocks-gallery-item figcaption {
	@include figcaption-overlay;
}

.wp-block-cover .wp-block-cover-text {
	color: $color-bg-body;
	font-size: $font-size-xxl;
}

/**
 * Buttons
 */

.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
	@extend %button;
    &:not(.has-background) {
        @extend %button-background;
	}
    &:not(.has-text-color) {
        @extend %button-color;
    }
	font-size: $font-size-md; // cancel built in style for the file button
}
.wp-block-button:not(.is-style-outline):not(.is-style-squared) .wp-block-button__link {
	@extend %button-shadow;
	&:active {
		@extend %button-active;
	}
}
.wp-block-button.is-style-squared .wp-block-button__link {
	border: none;
	&:hover,
	&:focus,
	&:active {
		background: $color-link-hover;
	}
}
.wp-block-file a.wp-block-file__button {
	display: inline-block;
    @extend %button-shadow;
	// This is just to cancel the built in style
	&:hover,
	&:focus,
	&:visited {
		opacity: 1;
		// @extend %button;
    	@extend %button-shadow;
	}
	&:active {
		opacity: 1;
		@extend %button-active;
	}
}

.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: $border-radius-button-square;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    border: 2px solid currentColor;
	border-radius: $border-radius-button;
	box-shadow: none;
	text-shadow: none;
	&:not(.has-text-color) {
		color: $color-link;

		&:hover,
		&:focus,
		&:active {
			color: $color-link-hover;
		}
	}
    
    &:not(.has-background) {
        background: transparent;
        border-color: currentcolor;
    }
}

/**
 * Widgets
 */
.wp-block-latest-posts,
.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-categories__list {
    @extend %widget-list;
}

.wp-block-latest-comments__comment {
	font-size: $font-size-md;
}
.wp-block-latest-comments__comment-meta {
	@extend %font-UI;
	font-size: $font-size-xs;
	a {
		text-decoration: none;
	}
}
.wp-block-latest-comments__comment-excerpt p {
	font-size: $font-size-sm;
}

/**
 * Formatting
 */
.wp-block-separator {
	@include hr;
	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 5em !important;
	}
	&.is-style-dots {
		height: 0; // cancel default hr
		background: none; // cancel default hr
		&:before {
			content: "\00b7 \00b7 \00b7";
			color: $color-text-main;
			font-size: $font-size-base;
			letter-spacing: 2em;
		}
	}
}
.wp-block-column {
	margin-bottom: 0;
}
// // replace default css
// @media (min-width:600px) {
//     .wp-block-column {
//         flex-basis: 100%; //50%;
//         flex-grow: 0
//     }
    
//     .wp-block-column:nth-child(odd) {
//         margin-right: 0; //32px
//     }

//     .wp-block-column:nth-child(even) {
//         margin-left: 0; //32px
//     }

//     .wp-block-column:not(:first-child) {
//         margin-left: 0; //32px
//     }

//     .wp-block-column:not(:last-child) {
//         margin-right: 0; //32px
//     }
// }

@media (min-width: $breakpoint-1) and (max-width: $breakpoint-2) {
     // replaces the built-in media query with something better
    .wp-block-columns {
        flex-wrap: nowrap;
    }
    // .wp-block-column {
    //     flex-basis: 50%;
    //     flex-grow: 0
    // }
    // .wp-block-column:nth-child(odd) {
    //     margin-right: 32px
    // }
    // .wp-block-column:nth-child(even) {
    //     margin-left: 32px
    // }
    // .wp-block-column:not(:first-child) {
    //     margin-left: 32px
    // }
    // .wp-block-column:not(:last-child) {
    //     margin-right: 32px
	// }
	// block cover
}