/**
 * Typography
 */
.wp-block-code {
	// Extend the <code> style so it can appear in the editor,
	// but stop the <code> font-size from being applied twice on the front end.
	@extend code;
	code {
		font-size: inherit;
	}
}
.wp-block-code .editor-plain-text {
	// stops the built-in style from overriding ours
	font-family: inherit;
	font-size: 1em;
}

/**
 * Media
 */

.alignwide:not(.wp-block-columns):not(p) {
    /* displays as alignfull on small screens */
    @include full-bleed;
}

.alignfull {
    width: 100vw !important;
    max-width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

figure.wp-block-image {
	&.alignwide {
		max-width: initial !important;
	}
}

.wp-block-image figcaption {
	font-size: $font-size-xs;
	color: initial; // cancel default
	opacity: .7;
	font-family: $font-UI;
}

div.wp-block-image {
	/*
	** Allow images to float outside of the reading area.
	** Target the div because that's what aligned image figures are wrapped in.
	*/
	max-width: 100% !important;
	text-align: center;
}

@media screen and (min-width: $breakpoint-3) {
    .alignwide {
        @include full-bleed-cancel;
    }
}

.wp-block-gallery .blocks-gallery-item figcaption {
    @include figcaption-overlay;
}

.wp-block-cover .wp-block-cover-text {
    font-family: $font-headers;
	color: $color-bg-body;
	font-size: $font-size-xl;
}

/**
 * Buttons
 */

.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
	@include button;
    box-shadow: $shadow-button;
	font-size: $font-size-md; // cancel built in style for the file button
	&:hover,
	&:focus,
	&:active,
	&:visited {
		// This is just to cancel the built in style
		box-shadow: $shadow-button;
	}

	&:active {
		transform: translateY(1px);
		box-shadow: inset 0 1px 0 $color-text-headers;
	}
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: $border-radius-button-square;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    border: 2px solid currentColor;
	border-radius: $border-radius-button;
	box-shadow: none;
	&:hover,
	&:focus,
	&:active,
	&:visited {
		box-shadow: none;
	}
	
	&:not(.has-text-color) {
		color: $color-link;

		&:hover,
		&:focus,
		&:active {
			color: $color-link-hover;
		}
	}
    
    &:not(.has-background) {
        background: transparent;
        border-color: currentcolor;
    }
}

/**
 * Widgets
 */
.wp-block-latest-posts {
    @extend %widget-list;
}

/**
 * Formatting
 */
// replace default css
@media (min-width:600px) {
    .wp-block-column {
        flex-basis: 100%; //50%;
        flex-grow: 0
    }
    
    .wp-block-column:nth-child(odd) {
        margin-right: 0; //32px
    }

    .wp-block-column:nth-child(even) {
        margin-left: 0; //32px
    }

    .wp-block-column:not(:first-child) {
        margin-left: 0; //32px
    }

    .wp-block-column:not(:last-child) {
        margin-right: 0; //32px
    }
}

@media (min-width: $breakpoint-1) {
     // replaces the built-in media query with something better
    .wp-block-columns {
        flex-wrap: nowrap;
    }
    .wp-block-column {
        flex-basis: 50%;
        flex-grow: 0
    }
    .wp-block-column:nth-child(odd) {
        margin-right: 32px
    }
    .wp-block-column:nth-child(even) {
        margin-left: 32px
    }
    .wp-block-column:not(:first-child) {
        margin-left: 32px
    }
    .wp-block-column:not(:last-child) {
        margin-right: 32px
	}
	// block cover
    .wp-block-cover .wp-block-cover-text {
		font-size: $font-size-xxxl;
    }
}