/**
 * Typography
 */

.wp-block-pullquote {
	padding: 2em 0;
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom-width: 4px;
	border-bottom-style: solid;

	blockquote {
		border-left: none;
	}

	p,
	blockquote > .editor-rich-text p { // for editor
		font-size: $font-size-xl;
	}
}

/**
 * Media
 */

.alignwide:not(.wp-block-columns):not(p) {

	/* displays as alignfull on small screens */
	@include full-bleed;
}

.alignfull {

	@include alignfull;
}

figure.wp-block-image {

	&.alignwide {
		max-width: initial !important;
	}
}

.wp-block-image figcaption { // greater specificity = override built-in style
	color: $color-text-main; // cancel built-in color

	@include figcaption;
}

// div.wp-block-image {
// 	/*
// 	** Allow images to float outside of the reading area.
// 	** Target the div because that's what aligned image figures are wrapped in.
// 	*/
// 	max-width: 100% !important;
// 	text-align: center;
// }

@media screen and (min-width: $breakpoint-3) {

	.alignwide {

		@include full-bleed-cancel;
	}
}

.wp-block-gallery .blocks-gallery-item figcaption {

	@include figcaption-overlay;
}

.wp-block-cover .wp-block-cover-text {
	color: $color-bg-body;
	font-size: $font-size-xxl;
}

/**
 * Buttons
 */

.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {

	@include button;

	&:not(.has-background) {

		@include button-background;
	}

	&:not(.has-text-color) {

		@include button-color;
	}
	font-size: $font-size-md; // cancel built in style for the file button
}

.wp-block-button.is-style-squared .wp-block-button__link {
	border: none;
	border-radius: $border-radius-button-square;

	&:hover,
	&:focus,
	&:active {
		background: $color-link-hover;
	}
}

.wp-block-button:not(.is-style-outline):not(.is-style-squared) .wp-block-button__link {

	@include button-shadow;

	&:active {

		@include button-active;
	}
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border: 2px solid currentColor;
	border-radius: $border-radius-button;
	box-shadow: none;
	text-shadow: none;
	
	&:not(.has-background) {
		border-color: currentColor;
		background: transparent;
	}

	&:not(.has-text-color) {
		color: $color-link;

		&:hover,
		&:focus,
		&:active {
			color: $color-link-hover;
		}
	}
}

.wp-block-file {
	font-family: $font-UI;
	
	a.wp-block-file__button {
		display: inline-block;

		@include button-shadow;
		// This is just to cancel the built in style
		&:hover,
		&:focus,
		&:visited {
			opacity: 1;

			@include button-shadow;
		}

		&:active {
			opacity: 1;

			@include button-active;
		}
	}
}

/**
 * Widgets
 */

.wp-block-latest-comments__comment {
	font-size: $font-size-md;
}

.wp-block-latest-comments__comment-meta {
	font-family: $font-UI;
	font-size: $font-size-xs;

	a {
		text-decoration: none;
	}
}

.wp-block-latest-posts,
.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-categories__list,
.widget ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.wp-block-latest-posts,
.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-categories__list,
.widget {
	
	li {
		display: block;
		margin-bottom: 0.5em;
		padding: 0;

		ul,
		ol {
			margin-left: 0.5em;
		}

		a {
			display: block;
			padding: 0.5em 0;
			border-bottom: 1px dashed currentColor;
			text-decoration: none;
	
			&:hover,
			&:active,
			&:focus {
				border-bottom: 1px dashed currentColor;
				text-decoration: none;
			}
		}
	}
	
	.children,
	.sub-menu {
		margin-left: 1em;
		padding-top: 0;
		padding-bottom: 0.5em;
		font-size: $font-size-sm;

		a::before {
			content: $glyph-arrow-down-right + " ";
		}
	}
}

.wp-block-latest-posts__post-date {
	font-family: $font-UI;
}

.wp-block-latest-comments__comment-excerpt p {
	font-size: $font-size-sm;
}

/**
 * Formatting
 */
.wp-block-separator {
	clear: both;

	@include hr;

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 5em !important;
	}

	&.is-style-dots {
		height: 0; // cancel default hr
		background: none; // cancel default hr

		&::before {
			color: $color-text-main;
			font-size: $font-size-base;
			letter-spacing: 2em;
			content: "\00b7 \00b7 \00b7";
		}
	}
}

.wp-block-column {
	margin-bottom: 0;
}

@media (min-width: $breakpoint-1) and (max-width: $breakpoint-2) {
	// replaces the built-in media query with something better
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}
