html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color-bg-body; /* Fallback for when there is no custom background color defined. */
}

body.archive-view,
body.attachment,
body.single-format-aside {
    background: $color-bg-body-alt;
}

hr {
	background-color: $color-bg-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Lists */

ul, ol {
	margin: 0 0 1.5em 0;//3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


svg {
  transition: fill 120ms ease-in-out;
  fill: currentColor;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* Tables */

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-text-input;
	border: 1px solid $color-border-input;
	border-radius: 3px;
	padding: 3px;
    max-width: 100%;

	&:focus {
		color: $color-text-input-focus;
	}
}

select {
	border: 1px solid $color-border-input;
}

textarea {
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color-link;
    text-decoration: none;

	&:visited {
		color: $color-link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

