.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.avatar {
	border-radius: 50%;
	border: 1px solid transparent;
	box-shadow: 0 0 .25em rgba(0, 0, 0, 0.5);
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Alignments and Images
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

@media screen and (max-width: $breakpoint-1) {
    /* On small screens, display left and right alignments as if they were centered */
    .alignleft,
    .alignright {
        float: none !important;
        clear: both !important;
        @include center-block;
    }
}

.centered-image {
    max-width: 100vw;
    margin: 0 -1em;
    border: none;
}

@media screen and (min-width: $breakpoint-1) {
    .centered-image {
        margin: 0 -2em;
    }
}

/*--------------------------------------------------------------
## Single Post Featured Images
--------------------------------------------------------------*/
/**
 * Browsers that don't support object-fit (IE) will display the plain image.
 * It's possible to replicate this with transforms and overflows, but I don't
 * have the time to test that out just to cover IE.
 */
.single .featured-image {
	// cancel the default figure.
	margin-top: 0;
	@include full-bleed;
	// for browsers that don't play well with cover
	figcaption {
		font-style: italic;
		font-size: $font-size-xs;
		text-align: right;
		padding-right: 1.5em; /* to avoid scrollbars */
	}
}

@supports (object-fit: cover) {
	.single .featured-image {
		margin-top: 0;
		height: 430px;
		position: relative;
		width: 100vw;
		max-width: 100vw;
		img {
			height: 100%;
			width: 100vw;
			object-fit: cover;
			position: absolute;
			z-index: -1;
		}
		figcaption {
			@include figcaption-overlay;
			width: 100%;
			text-align: right;
			position: absolute;
			bottom: 0;
		}
	}
}

/* We change the style to prepare it for the grid layout in posts-and-pages */
@media screen and (min-width: $breakpoint-3) {
    .single .featured-image {
		@include full-bleed-cancel;
        width: 50%;
		img {
			width: 100%;
		}
		figcaption {
			padding-right: .5em;
		}
    }
}

/*--------------------------------------------------------------
## Archive View Featured Images
--------------------------------------------------------------*/

.excerpt-entry .featured-image {
    position: relative;
	//@include full-bleed;
	margin: 0 -.5em; // cancel figure padding and match the padding of .excerpt-entry
    .post-thumbnail {
        display: block;
        line-height: 0; /* fixes visual glitch with link overlay */

        &:before {
            content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: $color-link-hover;
			opacity: 0;
			z-index: 2;
		
			&:hover,
			&:focus {
				opacity: .25;
			}
        }

        &:hover,
        &:focus {
            &:before {
                opacity: .25;
            }
        }
    }

    img {
        width: 100%; // fix for IE11
    }
}

/** Archive View Featured Images Media Queries **/

@media screen and (min-width: $breakpoint-1) {
	.excerpt-entry .featured-image {
		@include full-bleed-cancel;
	}
}

/*--------------------------------------------------------------
## Attachment pages
--------------------------------------------------------------*/
.single-attachment {
    .entry-title {
        text-align: center;
    }
    .comments-area {
        margin-top: 1em;
    }
    .site-content {
        margin-top: 1em;
    }
    .entry-content {
        @include full-bleed;
    }
}
.entry-attachment {
    text-align: center;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## SVG
--------------------------------------------------------------*/

.svg-icon {
    vertical-align: middle;
    height: 1em;
    width: 1em;
}
