.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Alignments and Images
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

@media screen and (max-width: $breakpoint-1) {
    /* On small screens, display left and right alignments as if they were centered */
    .alignleft,
    .alignright {
        float: none;
        clear: both;
        @include center-block;
    }
}

.centered-image {
    max-width: 100vw;
    margin: 0 -1em;
    border: none;
}

@media screen and (min-width: $breakpoint-1) {
    .centered-image {
        margin: 0 -2em;
    }
}

/* Single Post Featured Images */

%featured-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    
    img {
        position: absolute;
        left: -999em;
    }
    
    a {
        @include link-overlay;
    }
}
.single .featured-image {
    @extend %featured-image;
    height: 16em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &.full-bleed {
        margin: 0 -1em;
        
        @media screen and (min-width: $breakpoint-1) {
            min-height: 430px;
            width: 100vw;
            margin-left: -2em;
            margin-right: -2em;
        }
    }
}

/* we stop full-bleeding on wide screens, but only on single posts */
@media screen and (min-width: $breakpoint-3) {
    .single .featured-image.full-bleed {
        position: static;
        width: 765px;
        margin: 0;
    }
}

/* Archive view featured images */

.featured-image {
    margin: 0;
}

.archive-view .featured-image {
    position: relative;

    .post-thumbnail {
        display: block;
        line-height: 0;

        &:before {
            content: "";
            @include link-overlay;
        }

        &:hover,
        &:focus {
            &:before {
                opacity: $opacity-overlay;
            }
        }
    }

    img {
        width: 100%; // fix for IE11
    }
}

@media screen and (min-width: $breakpoint-1) {
    .archive-view .featured-image {
        width: 33%;
        flex-shrink: 0;
        margin-right: 1em;

        .post-thumbnail {
            position: absolute; /* this fixes a visual quirk that keeps the link from overflowing */
        }
    }
}

.alignwide {
    /* displays as alignfull on small screens */
    //max-width: 100vw !important;
    //width: auto;
    margin-right: -1rem;
    margin-left: -1rem;
    @media screen and (min-width: $breakpoint-1) {
        //margin-left: calc(25% - 25vw) !important;
        //margin-right: calc(25% - 25vw) !important;
        margin-left: 0;
        margin-right: 0;
    }
}
.alignfull {
    width: 100vw !important;
    max-width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}
@media screen and (min-width: $breakpoint-2) {
    /* posts have their own special code */
    /*.post .alignwide {
        width: 100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    /*.post .alignfull {
        width: 100% !important;
        max-width: 100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: auto !important;
        right: auto !important;
    }*/
}

/*--------------------------------------------------------------
## Attachment pages
--------------------------------------------------------------*/
.single-attachment {
    .entry-title {
        text-align: center;
    }
    .comments-area {
        margin-top: 1em;
    }
    .site-content {
        margin-top: 1em;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
%figcaption {
    background: rgba(0, 0, 0, .5);
    color: $color-text-light;
    padding: .2em .5em;
    font-family: $font-UI;
}
.wp-block-gallery .blocks-gallery-item figcaption {
    @extend %figcaption;
    font-size: .7em;
}
.single .featured-image figcaption {
    @extend %figcaption;
    font-size: .9em;
}
.entry-caption {
    font-size: 1.3em;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}
