.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Alignments and Images
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

@media screen and (max-width: $breakpoint-1) {
    /* On small screens, display left and right alignments as if they were centered */
    .alignleft,
    .alignright {
        float: none;
        clear: both;
        @include center-block;
    }
}

.centered-image {
    max-width: 100vw;
    margin: 0 -1em;
    border: none;
}

@media screen and (min-width: $breakpoint-1) {
    .centered-image {
        margin: 0 -2em;
    }
}

/*--------------------------------------------------------------
## Single Post Featured Images
--------------------------------------------------------------*/
.featured-image {
    margin: 0;
}

%featured-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    
    img {
        position: absolute;
        left: -999em;
    }
    
    a {
        @include link-overlay;
    }
}
.single .featured-image {
    @extend %featured-image;
    height: 16em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &.full-bleed {
        @include full-bleed;
    }
}

/** Featured Images Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .single .featured-image.full-bleed {
        min-height: 430px;
        width: 100vw;
    }
}

/* we stop full-bleeding on wide screens, but only on single posts */
@media screen and (min-width: $breakpoint-3) {
    .single .featured-image.full-bleed {
        position: static;
        width: 765px;
        margin: 0;
    }
}

/*--------------------------------------------------------------
## Archive View Featured Images
--------------------------------------------------------------*/

.archive-view .featured-image {
    position: relative;

    .post-thumbnail {
        display: block;
        line-height: 0; /* fixes visual glitch with link overlay */

        &:before {
            content: "";
            @include link-overlay;
        }

        &:hover,
        &:focus {
            &:before {
                opacity: $opacity-overlay;
            }
        }
    }

    img {
        width: 100%; // fix for IE11
    }
}

/** Archive View Featured Images Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .archive-view .featured-image {
        width: 33%;
        flex-shrink: 0;
        margin-right: 1em;

        .post-thumbnail {
            position: absolute; /* this fixes a visual quirk that keeps the link from overflowing */
        }
    }
}

/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

.alignwide {
    /* displays as alignfull on small screens */
    @include full-bleed;
}

p.alignwide {
    // don't full-bleed paragraphs
    margin-left: 0;
    margin-right: 0;
}

.alignfull {
    width: 100vw !important;
    max-width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

/** Gutenberg Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .single .post,
    .page {
        .entry-content > div.wp-block-image:not(.alignwide):not(.alignfull) {
            /*
            ** Allow images to float outside of the reading area.
            ** We have to select the div because Gutenberg wraps floating image figures in div.
            ** We have to target .alignwide and .alignfull because of CSS specificity.
            */
            max-width: 100%;
        }
    }
}

@media screen and (min-width: $breakpoint-2) {
    .alignwide {
        // disables the full-bleed on large screens
        margin-left: 0;
        margin-right: 0;
    }
}

/*--------------------------------------------------------------
## Attachment pages
--------------------------------------------------------------*/
.single-attachment {
    .entry-title {
        text-align: center;
    }
    .comments-area {
        margin-top: 1em;
    }
    .site-content {
        margin-top: 1em;
    }
    .entry-content {
        @include full-bleed;
    }
}
.entry-attachment {
    text-align: center;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## SVG
--------------------------------------------------------------*/

.svg-icon {
    vertical-align: middle;
}
