.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
# Alignments and Images
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.centered-image {
    max-width: 100vw;
    margin: 0 -1em;
    border: none;
}

@media screen and (min-width: $breakpoint-1) {
    .centered-image {
        margin: 0 -2em;
    }
}

/* Single Post Featured Images */

.featured-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    height: 16em;
    
    img {
        position: absolute;
        left: -999em;
    }
    
    a {
        @include link-overlay;
    }
    
    &.full-bleed {
        min-height: 430px;
        width: 100vw;
        margin: 0 -1em;
        
        @media screen and (min-width: $breakpoint-2) {
            margin-left: -2em;
            margin-right: -2em;
        }
    }
}

/* we stop full-bleeding on wide screens, but only on posts */
@media screen and (min-width: $breakpoint-3) {
    .post .featured-image.full-bleed {
        position: static;
        width: 50%;
        margin: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
/*
.wp-block-cover-image {
    margin-left: -1em;
    margin-right: -1em;
    width: initial;

    @media screen and (min-width: 768px) {
        margin-left: -2em;
        margin-right: -2em;
    }
}

.wide-cover-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 430px;
    width: 100vw;
    margin: 0 -1em 1.5em -1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
                                               rgba(255, 255, 255, 0),
                                               rgba(255, 255, 255, 0),
                                               rgba(255, 255, 255, 0),
                                               rgba(255, 255, 255, 1) );
    }

    h1, span {
        z-index: 1;
    }
}
*/