.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Alignments and Images
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

@media screen and (max-width: $breakpoint-1) {
    /* On small screens, display left and right alignments as if they were centered */
    .alignleft,
    .alignright {
        float: none;
        clear: both;
        @include center-block;
    }
}

.centered-image {
    max-width: 100vw;
    margin: 0 -1em;
    border: none;
}

@media screen and (min-width: $breakpoint-1) {
    .centered-image {
        margin: 0 -2em;
    }
}

/* Single Post Featured Images */

.featured-image {
    position: relative;
    background-size: cover;
    background-position: 50%;
    height: 16em;
    
    img {
        position: absolute;
        left: -999em;
    }
    
    a {
        @include link-overlay;
    }
    
    &.full-bleed {
        margin: 0 -1em;
        
        @media screen and (min-width: $breakpoint-1) {
            min-height: 430px;
            width: 100vw;
            margin-left: -2em;
            margin-right: -2em;
        }
    }
}

/* we stop full-bleeding on wide screens, but only on posts */
@media screen and (min-width: $breakpoint-3) {
    .post .featured-image.full-bleed {
        position: static;
        width: 765px;
        margin: 0;
    }
}

.alignwide {
    /* displays as alignfull on small screens */
    max-width: 100vw !important;
    width: auto !important;
    margin-right: -1em !important;
    margin-left: -1em !important;
    @media screen and (min-width: $breakpoint-1) {
        margin-left: calc(25% - 25vw) !important;
        margin-right: calc(25% - 25vw) !important;
    }
}
@media screen and (min-width: $breakpoint-1) {
    /* posts have their own special code */
    .has-sidebar .post .alignwide {
        width: 85% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .has-sidebar .post .alignfull {
        max-width: 100% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
.no-sidebar {
    .alignfull {
        width: 100vw !important;
        max-width: 100vw !important;
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}