body,
button,
input,
select,
optgroup,
textarea {
    color: $color-text-main;
    font-family: $font-UI;
    @include font-size(1);
    line-height: $font-line-height-body;
}

textarea {
    font-family: $font-reading;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
    font-family: $font-headers;
    color: $color-tint;
    font-weight: normal;
}

p {
	margin-bottom: 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color-background-pre;
	font-family: $font-pre;
	@include font-size(0.9375);
	line-height: $font-line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark, ins {
	background: $color-background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Posts & Pages */

.site-title {
    font-family: $font-reading;
    font-size: 2em;
}

.post {
    .entry-header,
    .entry-content {
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-reading;
        }
    }
}

.entry-meta,
.comment-meta {
    font-size: 0.9em;
}

.entry-title {
    font-size: 2em;
    line-height: 1.2em;

    @media screen and (min-width: $breakpoint-1){
        font-size: 2.5em;
    }
}

@media screen and (min-width: $breakpoint-3) {
    .entry-title {
        font-size: 3em;
    }
    .entry-meta {
        font-size: 1em;
    }
}

/* comments */

.comments-title {
	font-size: 2em;
	font-weight: normal;
    color: $color-tint;
}

/* editor styles */

.editor-post-title textarea {
    @extend h1;
    @extend .entry-title;
    font-family: $font-reading;
}

/* Gutenberg custom CSS */

.weracoba-big {
    font-size: 2em;
    text-align: center;
    color: $color-tint;
    
    @media screen and (min-width: $breakpoint-1) {
    }
    
    @media screen and (min-width: $breakpoint-2) {
        font-size: 3em;
    }
}

.wp-block-cover-image-text {
    font-family: $font-headers;
}