body,
button,
input,
select,
optgroup,
textarea {
    color: $color-text-main;
    font-family: $font-UI;
    @include font-size(1);
    line-height: calculate-line-height(16, $size-content);
}

textarea {
    font-family: $font-reading;
    @include max-content-width;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
    font-family: $font-headers;
    color: $color-headers;
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

p {
	margin-bottom: 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
    font-size: .9em;
}

pre {
	background: $color-bg-pre;
	font-family: $font-pre;
	@include font-size(0.9375);
	line-height: $font-line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark, ins {
	background: $color-background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
.site-title {
    font-family: $font-site-title;
    font-size: 1.9em;
}
.site-description {
    font-size: .8em;
}
.main-navigation {
    font-family: $font-UI;
    font-size: 1.1em;
}

/* Posts & Pages */

.excerpt-entry,
.single-post {
    .entry-header {
        h1, h2 {
            font-family: $font-reading;
        }
    }
    .entry-content {
        font-family: $font-reading;
        font-size: $font-reading-size;
        line-height: calculate-line-height($font-reading-size, $size-content);
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-reading;
        }
    }
}

.editor-writing-flow {
    /* For the editor */
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-reading;
    }
}

.page .entry-content {
    line-height: calculate-line-height(16, $size-content-page);
}
.entry-meta,
.comment-meta {
    font-size: 0.9em;
}
.entry-title,
.page-title {
    font-size: 2em;
    line-height: 1.2em;
}
.entry-footer {
    font-family: $font-UI;
}
.format-aside {
    .cat-links {
        font-size: 1em;
    }
    .entry-header a {
        color: $color-text-secondary;
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    h2.entry-title {
        color: $color-text-secondary;
        font-family: $font-UI;
        font-size: 1.4em !important;
        margin-top: .5em;
        /* Replace with SVG
        &:before {
            @include dashicon($glyph-aside);
            color: $color-text-secondary;
        }*/
    }
    .entry-content {
        font-family: $font-UI;
        font-size: 1.3em;
    }
}

/* Comments */

.comments-title {
	font-size: 2em;
	font-weight: 400;
    color: $color-tint;
}
.comment-content {
    font-family: $font-reading;
}
.comment-respond {
	line-height: 1.3em;
	font-family: $font-headers;
}

/* Archive view */

.archive-view {
    .entry-title {
        font-size: 1.8em;
    }
    .cat-links {
        font-size: 1.2em;
    }

    .entry-content {
        font-size: 1.2em;
    }
}
.excerpt-more {
    font-family: $font-UI;
}


/* Widgets */

.widget {
    line-height: calculate-line-height(16, $size-widget);
	font-family: $font-widget;
}

.rssSummary {
	font-family: $font-reading;
	font-size: .8em;
	line-height: 1.4em;
}

/* Media captions */

%figcaption {
    background: rgba(0, 0, 0, .5);
    color: $color-text-light;
    padding: .2em .5em;
    font-family: $font-UI;
}
.wp-block-gallery .blocks-gallery-item figcaption {
    @extend %figcaption;
    font-size: .8em;
}
.single .featured-image figcaption {
    @extend %figcaption;
    font-size: .9em;
}
.entry-caption {
    font-size: 1.3em;
}

/* Front Page */

.fp-post,
.fp-post .entry-title {
    font-family: $font-reading;
}

/* Accessibility */
.widget p,
.entry-content,
.comment-content {
    a {
        text-decoration: underline;
    }
}

/* editor styles */

.editor-post-title textarea {
    @extend h1;
    @extend .entry-title;
    font-family: $font-reading;
}

/* Gutenberg custom CSS */

.wp-block-image figcaption {
    font-size: 1em;
}

.weracoba-big,
p.wp-block-subhead {
    font-size: 1.25em;
    text-align: center;
    color: $color-text-secondary;
    opacity: 1;
}

.wp-block-cover-image .wp-block-cover-image-text {
    font-family: $font-headers;
    color: $color-bg-body-alt;
}

.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button {
    @include button;
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    
    &:not(.has-text-color) {
        color: $color-bg-button;
        
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    
    &:not(.has-background) {
        background: transparent;
        border-color: currentcolor;
        
        &:hover,
        &:focus {
            border-color: currentcolor;
        }
    }
}

.wp-block-latest-posts {
    // copied from _widgets.scss
    padding: 0;
    list-style: none;
    li {
        border-bottom: 1px dashed $color-border;
        padding: .75em 0;
        a {
            display: block;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    } 
}

// Custom CSS attribute in Gutenberg
/* Depreciating Dashicons
.wp-block-button.download .wp-block-button__link:before {
    @include dashicon($glyph-download);
}*/

/** Media queries **/

@media screen and (min-width: $breakpoint-1) {
    /* Header */
    .global-header:not(.fixed-header) .site-title {
        font-size: 2.3em;
    }
    .main-navigation {
        font-size: 1.2em;
    }
    /* Posts & Pages */
    .entry-title,
    .page-title {
        font-size: 2.7em;
    }
    .entry-meta {
        font-size: 1em;
    }
    /* Gutenberg */
    .weracoba-big,
    p.wp-block-subhead {
            font-size: 1.75em;
    }
}
@media screen and (min-width: $breakpoint-2) {
    /* Header */
    .site-description {
        font-size: 1em;
    }
}
@media screen and (min-width: $breakpoint-3) {
    /* Posts & Pages */
    .single .post .entry-title
    .page-title {
        font-size: 2.5em;
    }
    /* Gutenberg */
    .wp-block-cover-image .wp-block-cover-image-text {
        font-size: 2.75em;
    }
}
