html {
	font-size: $font-size-base;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: $color-text-main;
    font-family: $font-UI;
    //@include font-size(1);
	font-size: $font-size-base;
	font-size: 1rem;
	line-height: calculate-line-height($font-size-base, $size-content);
}

textarea {
    font-family: $font-reading;
    @include max-content-width;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
    font-family: $font-headers;
    color: $color-headers;
	font-weight: 400;
}

h1 {
	font-size: $font-size-xl;
	line-height: calculate-line-height( $font-size-xl, $breakpoint-1 );
}

h2 {
    font-size: $font-size-lg;
	line-height: calculate-line-height( $font-size-lg, $breakpoint-1 );
}

h3 {
    font-size: $font-size-md;
	line-height: calculate-line-height( $font-size-md, $breakpoint-1 );
}

h4 {
    font-size: $font-size-sm;
	line-height: calculate-line-height( $font-size-sm, $breakpoint-1 );
}

h5 {
    font-size: $font-size-xs;
	line-height: calculate-line-height( $font-size-xs, $breakpoint-1 );
}

h6 {
	font-size: $font-size-xxs;
	line-height: calculate-line-height( $font-size-xxs, $breakpoint-1 );
}

p {
	margin-bottom: 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	font-size: $font-size-sm;
}

pre {
	background: $color-bg-pre;
	font-family: $font-pre;
	@include font-size(0.9375); // ???
	line-height: $font-line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-code;
	@include font-size(0.9375); // ???
}

abbr, acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark, ins {
	background: $color-background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Accessibility */
.widget p,
.entry-content,
.comment-content {
    a {
        text-decoration: underline;
    }
}
