body,
button,
input,
select,
optgroup,
textarea {
    color: $color-text-main;
    font-family: $font-UI;
    @include font-size(1);
    //line-height: $font-line-height-body;
    line-height: calculate-line-height(16, $size-content);
}

textarea {
    font-family: $font-reading;
    @include max-content-width;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
    font-family: $font-headers;
    color: $color-tint;
    font-weight: normal;
}

p {
	margin-bottom: 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color-bg-pre;
	font-family: $font-pre;
	@include font-size(0.9375);
	line-height: $font-line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark, ins {
	background: $color-background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
.site-title {
    font-family: $font-site-title;
    font-size: 1.9em;
    
    @media screen and (min-width: $breakpoint-1) {
        font-size: 2.3em;
    }
}
.site-description {
    font-size: .8em;
    
    @media screen and (min-width: $breakpoint-1) {
        font-size: 1em;
    }
}

/* Posts & Pages */

.post {
    .entry-header,
    .entry-content {
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-reading;
        }
    }
}
.post .entry-content {
    font-family: $font-reading;
    font-size: $font-reading-size;
    line-height: calculate-line-height($font-reading-size, $size-content);
}
.page .entry-content {
    line-height: calculate-line-height(16, $size-content-page);
}
.entry-footer {
    font-family: $font-UI;
}
.entry-meta,
.comment-meta {
    font-size: 0.9em;
}

.entry-title,
.page-title {
    font-size: 2em;
    line-height: 1.2em;

    @media screen and (min-width: $breakpoint-1){
        font-size: 2.7em;
    }
}
@media screen and (min-width: $breakpoint-1) {
    .entry-meta {
        font-size: 1em;
    }
}
@media screen and (min-width: $breakpoint-3) {
    .single .post .entry-title
    .page-title {
        font-size: 2.5em;
    }
}

/* comments */

.comments-title {
	font-size: 2em;
	font-weight: normal;
    color: $color-tint;
}
.comment-content {
    font-family: $font-reading;
}

/* Archive view */
.archive-view {
    .entry-title {
        font-size: 1.8em;
    }
    .cat-links {
        font-size: 1em;
    }

    .entry-content {
        font-size: 1.2em;
    }
}

/* Widgets */

.widget {
    line-height: calculate-line-height(16, $size-widget);
}

/* Front Page */

.fp-post,
.fp-post .entry-title {
    font-family: $font-reading;
}
/* editor styles */

.editor-post-title textarea {
    @extend h1;
    @extend .entry-title;
    font-family: $font-reading;
}

/* Gutenberg custom CSS */

.weracoba-big,
p.wp-block-subhead {
    font-size: 1.25em;
    text-align: center;
    color: $color-text-secondary;
    opacity: 1;
    
    @media screen and (min-width: $breakpoint-1) {
        font-size: 1.75em;
    }
}

.wp-block-cover-image .wp-block-cover-image-text {
    font-family: $font-headers;
    color: $color-bg-light;
    
    @media screen and (min-width: $breakpoint-3) {
        font-size: 2.75em;
    }
}

.wp-block-button .wp-block-button__link {
    @include gutenberg-button;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    
    &:not(.has-text-color) {
        color: $color-tint;
        
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    
    &:not(.has-background) {
        background: transparent;
        border-color: $color-tint;
        
        &:hover,
        &:focus {
            border-color: $color-link-hover;
        }
    }
}
