// Colors
// Inspired by Mr. Shirwin Williams
$color-text-main: rgba(47, 47, 48, 1); // Tricorn Black
$color-text-secondary: rgba(68, 72, 77, 1); // Cyberspace
$color-bg-body: white;
$color-bg-light: rgba(247, 247, 241, 1); // High Reflective White
$color-tint: rgba(1, 118, 128, 1); // Intense Teal
$color-border: rgba(194, 207, 207, 1); // Tradewind
$color-text-light: $color-border;
$color-border-button: $color-border;
$color-border-button-hover: $color-border;
$color-border-button-focus: $color-border;
$color-bg-header: $color-bg-light;
$color-bg-header-alt: rgba(224, 232, 231, 1); // Snowdrop
$color-link: $color-tint;
$color-link-visited: $color-tint;
$color-link-hover: rgba(1, 176, 187, 1); // Calypso
$color-headings: $color-tint;
$color-bg-button: rgba(1, 176, 187, 1); // Calypso

$color-bg-pre: #eee;
$color-border-abbr: #666;
$color-background-ins: #fff9c0;
$color-text-input: #666;
$color-border-input: #ccc;
$color-text-input-focus: #111;
$color-bg-hr: #ccc;
$color-bg-screen: #f1f1f1;
$color-text-screen: #21759b;

// Typography
$font-reading: Times, "Times New Roman", serif;
$font-reading-size: 19px;
$font-UI: Helvetica, Tahoma, sans-serif;
$font-site-title: Baskerville, Garamond, $font-reading;
$font-headers: $font-UI;
$font-widget: $font-UI;
$font-line-height-body: 1.5;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$glyph-arrow-down: "\25BC";
$glyph-arrow-up: "\25B2";
$glyph-arrow-next: "\276F";
$glyph-arrow-down-right: "\21B3";

// Breakpoints 
$breakpoint-1: 735px; // big phone landscape
$breakpoint-2: 1023px; // iPad landscape
$breakpoint-3: 1365px; // iPad pro landscape

// Structure
$size-max-width: 1200px;
$size-content: 700px;
$size-content-page: 900px;
$size-widget: 200px;

// Columns
$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns-margin: 3.8%;

/**
 * Calculates numbers to the mathmatical power (exponent)
 *
 * @since	1.0.0
 * @link https://jeremyhixon.com/golden-ratio-typography-in-sass/
 *
 * @param	int		$number		The number to increase
 * @param	int		$exponent	The power to increase the number by
 *
 * @return	int					The new number
 */
@function pow( $number, $exponent ) {
	$value: 1;
	@if $exponent > 0 {
		@for $i from 1 through $exponent {
			$value: $value * $number;
		}
	}
	@return $value;
}
/**
 * Removes units from values for easier modification
 *
 * @since	1.0.0
 * @link https://jeremyhixon.com/golden-ratio-typography-in-sass/
 *
 * @param	int		$number		The number to strip units from
 *
 * @return	int					The number without the unit
 */
@function strip-unit( $number ) {
	@if type-of( $number ) == 'number' and not unitless( $number ) {
		@return $number / ( $number * 0 + 1 );
	}
	@return $number;
}
/**
 * Calculates the line height based on multiple parameters
 *
 * @since	1.0.0
 * @link https://jeremyhixon.com/golden-ratio-typography-in-sass/
 *
 * @param	int		$font-size			The font size
 * @param	int		$content-width		The width of the content area
 * @param	int		$ratio				The ratio. Default 1.61803398875 (golden ratio)
 *
 * @return	int							The calculated line height
 */
@function calculate-line-height( $font-size, $content-width, $ratio: 1.61803398875 ) {
	$font-size: strip-unit( $font-size );
	$content-width: strip-unit( $content-width );
	@return $ratio - ( ( 1 / ( 2 * $ratio ) ) * ( 1 - ( $content-width / ( pow( ( $font-size * $ratio ), 2 ) ) ) ) );
}


// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns-margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin widget-columns {
    @include column-width(1);
    margin-right: $columns-margin;

    @media screen and (min-width: $breakpoint-1) {
        @include column-width(3);
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}

// Buttons
@mixin button {
    padding: .2em 1em;
	font-family: $font-UI;
	//font-size: .875em;
	//line-height: 1.3em;
	text-decoration: none;
    border: 1px solid $color-border-button;
    //border-radius: 5px;
    border-radius: 23px; // from Gutenberg style
    color: $color-bg-light;
    background: $color-link;

    &:hover,
    &:focus {
        background: $color-link-hover;
    }
}

@mixin button-outline {
    padding: 1em;
    font-family: $font-UI;
    text-decoration: none;
    border-radius: 23px;
    border: 1px solid $color-border-button;
}

@mixin gutenberg-button {
    padding: .6em 1.4em;
	font-family: $font-UI;
	//font-size: .875em;
	//line-height: 1.3em;
	text-decoration: none;
    border: 1px solid $color-border-button;

    &:not(.has-text-color) {
        color: $color-bg-light;

        &:hover,
        &:focus {
            color: $color-bg-light;
        }
    }

    &:not(.has-background) {
        background: $color-link;

        &:hover,
        &:focus {
            background: $color-link-hover;
        }
    }
}

@mixin max-site-width {
    @media screen and (min-width: $size-max-width) {
        max-width: $size-max-width;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin max-content-width {
    max-width: $size-content;
    margin-right: auto;
    margin-left: auto;
}

@mixin max-page-width {
    max-width: $size-content-page;
    margin-right: auto;
    margin-left: auto;
}

$opacity-overlay: .25;

@mixin link-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $color-link-hover;
    opacity: 0;
    z-index: 999;

    &:hover,
    &:focus {
        opacity: $opacity-overlay;
    }
}

@mixin avatar($size: 48px) {
	position: relative;
    margin-left: $size + 12px;
    //margin-top: 5px;
    min-height: $size - 5px;
    
    .avatar {
        position: absolute;
        //top: -5px;
        top: 5px;
        left: - $size - 12px;
        width: $size;
        height: $size;
        border-radius: $size;
    }
}


@mixin entry-meta-inline {
    padding-top: 1em;
    & > * {
        display: inline-block;
    }

    > *:after {
        content: " |";
        margin: 0 0.5em;
        color: $color-border;
    }

    > *:last-child:after {
        content: "";
        display: none;
    }
}
