$color-text-main: #19191A;
$color-bg-body: white;
//$color-tint:rgba(1, 118, 128, 1); // Intense Teal
$color-primary-hue: 185;
$color-secondary-hue: 65;
$color-bg-body-alt: hsl( $color-primary-hue, 15%, 90% ) ;
$color-text-headers: hsl( $color-primary-hue, 95%, 15% );
$color-border: hsl( $color-secondary-hue, 12%, 80% );
$color-bg-header: hsl( $color-secondary-hue, 25%, 95% );
$color-bg-footer: $color-bg-header;
//$color-link: $color-tint;
$color-link: hsl( $color-primary-hue, 95%, 25%);
$color-link-visited: $color-link;
$color-link-hover: hsl( $color-primary-hue, 95%, 40% );

$color-bg-pre: #eee;
$color-border-abbr: #666;
$color-background-ins: #fff9c0;
$color-text-input: #666;
$color-border-input: $color-border; //#ccc
$color-bg-hr: $color-border; //#ccc;
$color-bg-screen: #f1f1f1; // _accessibiliity.scss
$color-text-screen: #21759b; // _accessibiliity.scss

$font-reading: Times, "Times New Roman", Georgia, serif;
$font-UI: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-site-title: Baskerville, "Baskerville Old Face", Garamond, $font-reading;
$font-headers: $font-UI;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-code: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$glyph-arrow-down: "\25BC";
$glyph-arrow-up: "\25B2";
$glyph-arrow-next: "\276F";
$glyph-arrow-down-right: "\21B3";

$font-size-base: 20px;
// Update editor-font-sizes in functions.php when these change.
$font-size-xxs:   1em / 1.5;   // 13.33
$font-size-xs:    1em / 1.25;  // 16
$font-size-sm:    1em / 1.125; // 17.78
$font-size-md:    1em * 1;     // 20
$font-size-lg:    1em * 1.25;   // 25
$font-size-xl:    1em * 1.5;     // 30
$font-size-xxl:   1em * 1.75;   // 35
$font-size-xxxl:  1em * 2;     // 40

$font-line-height-pre: 1.6;
$font-line-height-heading: 1.2;
$font-line-height-double:  2 * $font-line-height-heading;

$breakpoint-1: 600px;
$breakpoint-2: 900px;
$breakpoint-3: 1200px;
$breakpoint-4: 1800px;

$size-site-width: 1200px; // WordPress global: $content_width
$size-content: 680px;
$size-widget: 250px;

$size-avatar-lg: 96px;
$size-avatar-md: 72px;
$size-avatar-sm: 48px;

$shadow-button: $color-text-headers 0 1px 0 0;
$border-radius-button: .625em;
$border-radius-button-square: .15em;