// Colors
// Inspired by Mr. Shirwin Williams
$color-text-main: #19191A;//rgba(47, 47, 48, 1); // Tricorn Black
$color-bg-body: white;
$color-bg-body-alt: rgba(224, 232, 231, 1); // Snowdrop
$color-tint:rgba(1, 118, 128, 1); // Intense Teal
$color-text-headers: #003333;//darken($color-tint, 12.5%);// rgba(16, 71, 75, 1); // $color-tint with RGB values 1/3 between $color-text-main
$color-border: rgba(194, 207, 207, 1); // Tradewind
$color-bg-header: rgba(247, 247, 241, 1); // High Reflective White;
$color-bg-footer: $color-bg-header;
$color-link: $color-tint;
$color-link-visited: $color-link;
$color-link-hover: lighten($color-tint, 10%);//#747f01;// #666600;//$color-tint-light;

//$color-tint-light: rgba(1, 176, 187, 1); // Calypso
//$color-text-light: $color-border;
//$color-tint-secondary: $color-tint;
//$color-tint-secondary-light: $color-tint-light;
//$color-bg-button: $color-tint-secondary;
//$color-text-secondary: rgba(68, 72, 77, 1); // Cyberspace
//$color-border-button: $color-tint-secondary; //$color-link;
//$color-border-button-hover: $color-tint-secondary-light;
//$color-border-button-focus: $color-tint-secondary-light;

$color-bg-pre: #eee;
$color-border-abbr: #666;
$color-background-ins: #fff9c0;
$color-text-input: #666;
$color-border-input: #ccc;
$color-text-input-focus: #111;
$color-bg-hr: #ccc;
$color-bg-screen: #f1f1f1;
$color-text-screen: #21759b;

// Typography
$font-reading: Times, "Times New Roman", serif;
$font-reading-size: 19px; // Depreciate
$font-UI: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-site-title: Baskerville, "Baskerville Old Face", Garamond, $font-reading;
$font-headers: $font-UI;
$font-widget: $font-UI;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$glyph-arrow-down: "\25BC";
$glyph-arrow-up: "\25B2";
$glyph-arrow-next: "\276F";
$glyph-arrow-down-right: "\21B3";

$font-size-base: 20px;
// Update editor-font-sizes in functions.php
$font-size-xxs:   1em / 1.5;   // 13.33
$font-size-xs:    1em / 1.25;  // 16
$font-size-sm:    1em / 1.125; // 17.78
$font-size-md:    1em * 1;     // 20
$font-size-lg:    1em * 1.5;   // 30
$font-size-xl:    1em * 2;     // 40
$font-size-xxl:   1em * 2.5;   // 50
$font-size-xxxl:  1em * 3;     // 60

$font-line-height-pre: 1.6;
$font-line-height-heading: 1.2;
$font-line-height-double:  2 * $font-line-height-heading;

// Breakpoints 
$breakpoint-1: 735px; // big phone landscape
$breakpoint-2: 1023px; // iPad landscape
$breakpoint-3: 1365px; // iPad pro landscape

// Structure
$size-max-width: 1200px; // WordPress global: $content_width
$size-content: 680px;//750px;
$size-content-page: $size-content;
$size-widget: 250px;