// Colors
// Inspired by Mr. Shirwin Williams
$color-text-main: rgba(47, 47, 48, 1); // Tricorn Black
$color-text-secondary: rgba(68, 72, 77, 1); // Cyberspace
$color-bg-body: white;
$color-bg-body-alt: rgba(224, 232, 231, 1); // Snowdrop
$color-tint: rgba(1, 118, 128, 1); // Intense Teal
$color-tint-secondary: #758001; // got through a color wheel to compliment teal
$color-border: rgba(194, 207, 207, 1); // Tradewind
$color-text-light: $color-border;
$color-bg-header: rgba(247, 247, 241, 1); // High Reflective White;
$color-bg-footer: $color-bg-header;
$color-link: $color-tint;
$color-link-visited: $color-tint;
$color-link-hover: $color-tint-secondary; //rgba(1, 176, 187, 1); // Calypso
$color-border-button: $color-link;
$color-border-button-hover: $color-link-hover;
$color-border-button-focus: $color-link-hover;
$color-headers: rgba(16, 71, 75, 1); // $color-tint with RGB values 1/3 between $color-text-main
$color-bg-button: rgba(1, 176, 187, 1); // Calypso

$color-bg-pre: #eee;
$color-border-abbr: #666;
$color-background-ins: #fff9c0;
$color-text-input: #666;
$color-border-input: #ccc;
$color-text-input-focus: #111;
$color-bg-hr: #ccc;
$color-bg-screen: #f1f1f1;
$color-text-screen: #21759b;

// Typography
$font-reading: Times, "Times New Roman", serif;
$font-reading-size: 19px;
$font-UI: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-site-title: Baskerville, "Baskerville Old Face", Garamond, $font-reading;
$font-headers: $font-UI;
$font-widget: $font-UI;
$font-line-height-body: 1.5;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-pre: 1.6;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$glyph-arrow-down: "\25BC";
$glyph-arrow-up: "\25B2";
$glyph-arrow-next: "\276F";
$glyph-arrow-down-right: "\21B3";
$glyph-category: "\f318"; // Dashicon
$glyph-tags: "\f323"; // Dashicon
$glyph-menu: "\f333"; // Dashicon
$glyph-x: "\f153"; // Dashicon
$glyph-download: "\f316"; // Dashicon
$glyph-aside: "\f123"; // Dashicon

// Breakpoints 
$breakpoint-1: 735px; // big phone landscape
$breakpoint-2: 1023px; // iPad landscape
$breakpoint-3: 1365px; // iPad pro landscape

// Structure
$size-max-width: 1200px;
$size-content: 750px;
$size-content-page: 750px; //900px;
$size-widget: 250px;