@import "sass/variables";
@import "sass/mixins";
@import "sass/typography";
@import "sass/sections/widgets"; // necessary for blocks
@import "sass/blocks";

/* editor styles */

h1, h2, h3, h4, h5, h6 {
	font-family: $font-reading;
}

.editor-post-title__block .editor-post-title__input {
	@extend h1;
}

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


.wp-block {
	@include max-content-width;

	&[data-align="wide"],
	&[data-align="right"],
	&[data-align="left"],
	&[data-align="center"] {
		max-width: $size-max-width;
	}

	&[data-align="full"] {
		max-width: none;
	}

	&[data-type="core/image"] {
		@extend figure.wp-block-image;
		&[data-align] {
			@extend div.wp-block-image;
		}
	}

	/* Lists. See _elements.scss */

	ul,
	ol {
		&.mce-content-body {
			margin: 0 0 1.5em 0;

			li {
				> ul,
				> ol {
					margin-bottom: 0;
					margin-left: 0;
				}
			} 
		}
	}
	
	ul.mce-content-body {
		list-style: disc;
		ul {
			list-style: circle;
			ul {
				list-style: square;
				ul {
					list-style: initial;
				}
			}
		}
	}
	
	ol.mce-content-body {
		list-style: decimal;
		ol {
			list-style: upper-alpha;
			ol {
				list-style: lower-roman;
				ol {
					list-style: lower-alpha;
					ol {
						list-style: initial;
					}
				}
			}
		}
	}
}

p,
.wp-block,
.mce-content-body {
	font-family: $font-reading;
	font-size: $font-size-base;
	line-height: calculate-line-height($font-size-base, $size-content);
}