@charset "UTF-8";
html {
  font-size: 20px;
  line-height: 1.50967;
}

body {
  color: #19191A;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

textarea {
  font-family: Times, "Times New Roman", Georgia, serif;
}

h1, .editor-post-title__block .editor-post-title__input, .wp-block-heading h1.editor-rich-text__tinymce, h2, .wp-block-heading h2.editor-rich-text__tinymce, h3, .wp-block-heading h3.editor-rich-text__tinymce, h4, .wp-block-heading h4.editor-rich-text__tinymce, h5, .wp-block-heading h5.editor-rich-text__tinymce, h6, .wp-block-heading h6.editor-rich-text__tinymce {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #013c41;
  font-weight: 400;
}

h1, .editor-post-title__block .editor-post-title__input, .wp-block-heading h1.editor-rich-text__tinymce {
  font-size: 2em;
  line-height: 1.35918;
  clear: both;
}

h2, .wp-block-heading h2.editor-rich-text__tinymce {
  font-size: 1.5em;
  line-height: 1.3982;
  clear: both;
}

h3, .wp-block-heading h3.editor-rich-text__tinymce {
  font-size: 1.25em;
  line-height: 1.43744;
  clear: both;
}

h4, .wp-block-heading h4.editor-rich-text__tinymce {
  font-size: 1em;
  line-height: 1.50967;
  font-weight: 700;
}

h5, .wp-block-heading h5.editor-rich-text__tinymce {
  font-size: 0.88889em;
  line-height: 1.56297;
  font-weight: 700;
}

h6, .wp-block-heading h6.editor-rich-text__tinymce {
  font-size: 0.8em;
  line-height: 1.62254;
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  font-size: 0.88889em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, .wp-block-code, kbd, tt, var {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 20px;
  font-size: 0.8em;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.has-xxsmall-font-size {
  font-size: 0.66667em;
}

.has-xsmall-font-size {
  font-size: 0.8em;
}

.has-small-font-size {
  font-size: 0.88889em;
}

.has-normal-font-size,
.has-regular-font-size,
.has-medium-font-size {
  font-size: 1em;
}

.has-large-font-size {
  font-size: 1.25em;
}

.has-xlarge-font-size,
.has-huge-font-size,
.has-larger-font-size {
  font-size: 1.5em;
}

.has-xxlarge-font-size {
  font-size: 1.75em;
}

.has-xxxlarge-font-size {
  font-size: 2em;
}

.has-normal-color {
  color: #19191A;
}

.has-tint-color {
  color: #017680;
}

.has-header-color {
  color: #013c41;
}

/* Accessibility */
.widget p a,
.entry-content a,
.comment-content a {
  text-decoration: underline;
}

.widget ul,
.widget ol, .wp-block-latest-posts {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.widget ul li, .widget ol li, .wp-block-latest-posts li {
  display: block;
  margin-bottom: .5em;
}

.widget ul li ul, .widget ol li ul, .wp-block-latest-posts li ul,
.widget ul li ol,
.widget ol li ol,
.wp-block-latest-posts li ol {
  margin-left: .5em;
}

.widget ul li a, .widget ol li a, .wp-block-latest-posts li a {
  display: block;
  padding: .5em 0;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}

.widget ul li a:hover, .widget ol li a:hover, .wp-block-latest-posts li a:hover, .widget ul li a:focus, .widget ol li a:focus, .wp-block-latest-posts li a:focus {
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}

.widget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 1em;
  /* Make sure select elements fit in widgets. */
  font-size: 0.88889em;
  line-height: 1.40238;
  width: 100%;
}

.widget select {
  width: 100%;
  height: 2.5em;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

.widget_search input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: .5em 1em;
  border: 1px solid #c3c3c3;
  border-radius: 0;
}

/* Archive and Categories widgets */
.widget_archive li {
  color: #7D7D7D;
}

.widget_pages .children,
.widget_pages .sub-menu,
.widget_nav_menu .children,
.widget_nav_menu .sub-menu,
.widget_categories .children,
.widget_categories .sub-menu,
.widget_recent_entries .children,
.widget_recent_entries .sub-menu {
  padding-top: 0;
  padding-bottom: .5em;
  margin-left: 1em;
  font-size: 0.88889em;
}

.widget_pages .children a:before,
.widget_pages .sub-menu a:before,
.widget_nav_menu .children a:before,
.widget_nav_menu .sub-menu a:before,
.widget_categories .children a:before,
.widget_categories .sub-menu a:before,
.widget_recent_entries .children a:before,
.widget_recent_entries .sub-menu a:before {
  content: "↳ ";
}

.widget_pages li,
.widget_nav_menu li,
.widget_categories li,
.widget_recent_entries li {
  padding: 0;
}

/* Meta widget */
.widget_meta li {
  padding: 0;
}

/* Recent comments */
.widget_recent_comments li {
  line-height: 1.3em;
  padding-bottom: .5em;
}

.widget_recent_comments a:hover,
.widget_recent_comments a:focus {
  padding-left: 0;
}

/* RSS widget */
.widget_rss li {
  margin-bottom: 1em;
}

.widget li a.rsswidget {
  padding-right: .5em;
}

.rss-date,
.widget_rss cite {
  color: #333;
}

.rssSummary {
  padding: .5em 0;
  font-family: Times, "Times New Roman", Georgia, serif;
}

/* Calendar widget */
.widget_calendar {
  font-weight: 400;
  max-width: 250px;
}

.widget_calendar caption {
  padding: .5em 0;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

.widget_calendar thead {
  background: transparent;
  color: black;
}

.widget_calendar thead th {
  border-bottom-width: 2px;
}

.widget_calendar td {
  padding: .2em;
  text-align: center;
  background: white;
  border: 1px solid #cccccc;
}

.widget_calendar th {
  border: none;
  text-align: center;
}

.widget_calendar .pad {
  background: #eaeaea;
}

.widget_calendar a {
  font-weight: 900;
  text-decoration: none;
}

/* Tags */
.tagcloud {
  text-align: center;
}

.tags-links a,
.tag-title,
.tag-cloud-link {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 .25em;
  margin: .1em 0;
  display: inline-block;
}

.tags-links a .svg-icon,
.tag-title .svg-icon,
.tag-cloud-link .svg-icon {
  opacity: .8;
}

.tags-links a,
.tag-title {
  border-radius: 1em .3em .3em 1em;
}

.tag-cloud-link {
  border-radius: .3em;
}

.tags-links a,
a.tag-cloud-link {
  color: #013c41;
}

.tags-links a:hover, .tags-links a:focus,
a.tag-cloud-link:hover,
a.tag-cloud-link:focus {
  color: #017680;
}

/** Breadcrumbs **/
.widget.breadcrumbs-nav {
  margin: .2em 0 0 0;
  margin-bottom: 1em;
  font-size: 0.8em;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .widget.breadcrumbs-nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/** Widget Area **/
.widget-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
  /* full-bleed on small screens */
  margin-left: -1rem;
  margin-right: -1rem;
}

/* Page widgets */
.page .widget-area,
.single-attachment .widget-area {
  border-top: 1px solid #c2cfcf;
  margin-top: 2em;
}

/** Archive View Widgets **/
.archive-view .site-content .widget {
  background: white;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

@media screen and (min-width: 735px) {
  .archive-view .site-content .widget {
    border-radius: .25em;
  }
}

.widget-title,
.widgettitle {
  margin: 0 0 .5em;
}

.archive-widget-area {
  /* full-bleed on small screens */
  margin-left: -1rem;
  margin-right: -1rem;
}

.archive-widget-area .widget {
  font-size: 1rem;
}

.archive-widget-area .widget > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.archive-widget-area .widget > ul > .cat-item {
  width: 100%;
}

/** Footer Widgets **/
@media screen and (min-width: 1200px) {
  .footer-widgets {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-widgets .widget {
  margin: 0 0 1em;
  padding: 0 0 1em;
}

.footer-widgets .widget .original-title {
  color: rgba(255, 255, 255, 0.5);
}

.footer-widgets .widget_calendar td,
.footer-widgets .footer-widgets .widget_calendar a {
  color: black;
}

/** Widget Media Queries **/
@media screen and (min-width: 735px) {
  .widget-area {
    /* cancel full-bleed on larger screens */
    margin-left: 0;
    margin-right: 0;
  }
  .widget-area .widget {
    width: 30.79667%;
    margin-right: 3.8%;
  }
  .widget-area .widget:nth-child(3n+3) {
    margin-right: 0;
  }
  .widget-area .widget:nth-last-child(even):first-of-type {
    width: 100%;
    margin-right: 0;
  }
  .widget-area .widget:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+3) {
    margin-right: 3.8%;
  }
  .widget-area .widget:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+4) {
    margin-right: 0;
  }
  .archive-widget-area {
    /* cancel full-bleed on larger screens */
    margin-left: 0;
    margin-right: 0;
  }
  .archive-widget-area .widget > ul > .cat-item {
    width: 30.79667%;
    margin-right: 3.8%;
  }
  .archive-widget-area .widget > ul > .cat-item:nth-child(3n+3) {
    margin-right: 0;
  }
  .archive-widget-area-bottom {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .footer-widgets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-widgets .widget {
    width: 30.79667%;
    margin-right: 3.8%;
  }
  .footer-widgets .widget:nth-child(3n+3) {
    margin-right: 0;
  }
  .footer-widgets .widget:nth-last-child(even):first-of-type {
    width: 100%;
    margin-right: 0;
  }
  .footer-widgets .widget:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+3) {
    margin-right: 3.8%;
  }
  .footer-widgets .widget:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+4) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1023px) {
  .widget-area {
    margin-top: 0;
  }
  .single-post .widget-area {
    margin-top: 4em;
  }
  .archive-view .site-content .widget {
    margin-bottom: 4em;
  }
  .archive-view .widget-area {
    display: block;
    margin-left: 1em;
    max-width: 250px;
  }
  .archive-view .widget-area .widget {
    width: 250px !important;
    margin: 0 0 4em;
  }
  .archive-view .widget-area .widget .alignleft,
  .archive-view .widget-area .widget .alignright {
    /*
					 * Don't align stuff on this small of a size;
					 */
    float: none;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/**
 * Typography
 */
.wp-block-code code, .wp-block-code .wp-block-code {
  font-size: inherit;
}

.wp-block-code .editor-plain-text {
  font-family: inherit;
  font-size: 1em;
}

/**
 * Media
 */
.alignwide:not(.wp-block-columns):not(p) {
  /* displays as alignfull on small screens */
  /* full-bleed on small screens */
  margin-left: -1rem;
  margin-right: -1rem;
}

.alignfull {
  width: 100vw !important;
  max-width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}

figure.wp-block-image.alignwide, .alignwide.wp-block[data-type="core/image"] {
  max-width: initial !important;
}

.wp-block-image figcaption {
  font-size: 0.8em;
  color: initial;
  opacity: .7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div.wp-block-image, .wp-block[data-type="core/image"][data-align] {
  /*
	** Allow images to float outside of the reading area.
	** Target the div because that's what aligned image figures are wrapped in.
	*/
  max-width: 100% !important;
  text-align: center;
}

@media screen and (min-width: 1365px) {
  .alignwide {
    /* cancel full-bleed on larger screens */
    margin-left: 0;
    margin-right: 0;
  }
}

.wp-block-gallery .blocks-gallery-item figcaption {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(40%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.8) 100%);
  color: white;
  text-shadow: 0 0 6px #19191A;
  padding: .2em .5em;
  font-size: 0.8em;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wp-block-cover .wp-block-cover-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1.5em;
}

/**
 * Buttons
 */
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
  padding: .2em .75em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  border-radius: 0.625em;
  border: 1px solid #013c41;
  -webkit-box-shadow: #013c41 0 1px 0 0;
          box-shadow: #013c41 0 1px 0 0;
  font-size: 1em;
}

.wp-block-button .wp-block-button__link:not(.has-text-color),
.wp-block-file .wp-block-file__button:not(.has-text-color) {
  color: white;
}

.wp-block-button .wp-block-button__link:not(.has-background),
.wp-block-file .wp-block-file__button:not(.has-background) {
  background: #017680;
}

.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus, .wp-block-button .wp-block-button__link:active, .wp-block-button .wp-block-button__link:visited,
.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:active,
.wp-block-file .wp-block-file__button:visited {
  -webkit-box-shadow: #013c41 0 1px 0 0;
          box-shadow: #013c41 0 1px 0 0;
}

.wp-block-button .wp-block-button__link:active,
.wp-block-file .wp-block-file__button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: inset 0 1px 0 #013c41;
          box-shadow: inset 0 1px 0 #013c41;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0.15em;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 2px solid currentColor;
  border-radius: 0.625em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover, .wp-block-button.is-style-outline .wp-block-button__link:focus, .wp-block-button.is-style-outline .wp-block-button__link:active, .wp-block-button.is-style-outline .wp-block-button__link:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: #017680;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover, .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus, .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #01b0bf;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
  border-color: currentcolor;
}

/**
 * Widgets
 */
/**
 * Formatting
 */
.wp-block-separator {
  background-color: #ccc;
  border: 0;
  height: 2px;
  margin-bottom: 1.5em;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 5em !important;
}

.wp-block-separator.is-style-dots {
  height: 0;
  background: none;
}

.wp-block-separator.is-style-dots:before {
  content: "\00b7 \00b7 \00b7";
  color: #19191A;
  font-size: 20px;
  letter-spacing: 2em;
}

@media (min-width: 600px) {
  .wp-block-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .wp-block-column:nth-child(odd) {
    margin-right: 0;
  }
  .wp-block-column:nth-child(even) {
    margin-left: 0;
  }
  .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
  .wp-block-column:not(:last-child) {
    margin-right: 0;
  }
}

@media (min-width: 735px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wp-block-column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .wp-block-column:nth-child(odd) {
    margin-right: 32px;
  }
  .wp-block-column:nth-child(even) {
    margin-left: 32px;
  }
  .wp-block-column:not(:first-child) {
    margin-left: 32px;
  }
  .wp-block-column:not(:last-child) {
    margin-right: 32px;
  }
  .wp-block-cover .wp-block-cover-text {
    font-size: 2em;
  }
}

/* editor styles */
h1, .editor-post-title__block .editor-post-title__input, .wp-block-heading h1.editor-rich-text__tinymce, h2, .wp-block-heading h2.editor-rich-text__tinymce, h3, .wp-block-heading h3.editor-rich-text__tinymce, h4, .wp-block-heading h4.editor-rich-text__tinymce, h5, .wp-block-heading h5.editor-rich-text__tinymce, h6, .wp-block-heading h6.editor-rich-text__tinymce {
  font-family: Times, "Times New Roman", Georgia, serif;
}

a {
  color: #017680;
}

a:visited {
  color: #017680;
}

a:hover, a:focus, a:active {
  color: #01b0bf;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

.wp-block {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  /* Lists. See _elements.scss */
}

.wp-block[data-align="wide"], .wp-block[data-align="right"], .wp-block[data-align="left"], .wp-block[data-align="center"] {
  max-width: 1200px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block ul.mce-content-body,
.wp-block ol.mce-content-body {
  margin: 0 0 1.5em 0;
}

.wp-block ul.mce-content-body li > ul,
.wp-block ul.mce-content-body li > ol,
.wp-block ol.mce-content-body li > ul,
.wp-block ol.mce-content-body li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

.wp-block ul.mce-content-body {
  list-style: disc;
}

.wp-block ul.mce-content-body ul {
  list-style: circle;
}

.wp-block ul.mce-content-body ul ul {
  list-style: square;
}

.wp-block ul.mce-content-body ul ul ul {
  list-style: initial;
}

.wp-block ol.mce-content-body {
  list-style: decimal;
}

.wp-block ol.mce-content-body ol {
  list-style: upper-alpha;
}

.wp-block ol.mce-content-body ol ol {
  list-style: lower-roman;
}

.wp-block ol.mce-content-body ol ol ol {
  list-style: lower-alpha;
}

.wp-block ol.mce-content-body ol ol ol ol {
  list-style: initial;
}

p,
.wp-block,
.mce-content-body {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 20px;
  line-height: 1.50967;
}
/*# sourceMappingURL=style-editor.css.map */