body,
button,
input,
select,
optgroup,
textarea {
  color: #2f2f30;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65482;
}

textarea {
  font-family: Times, "Times New Roman", serif;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

h1, .editor-post-title__block .editor-post-title__input, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #10474b;
  font-weight: 400;
}

h1, .editor-post-title__block .editor-post-title__input {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  font-size: .9em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.site-title {
  font-family: Baskerville, "Baskerville Old Face", Garamond, Times, "Times New Roman", serif;
  font-size: 1.9em;
}

.site-description {
  font-size: .8em;
}

.main-navigation {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.1em;
}

/* Posts & Pages */
.excerpt-entry .entry-header h1, .excerpt-entry .entry-header .editor-post-title__block .editor-post-title__input, .editor-post-title__block .excerpt-entry .entry-header .editor-post-title__input, .excerpt-entry .entry-header h2,
.single-post .entry-header h1,
.single-post .entry-header .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .single-post .entry-header .editor-post-title__input,
.single-post .entry-header h2 {
  font-family: Times, "Times New Roman", serif;
}

.excerpt-entry .entry-content,
.single-post .entry-content {
  font-family: Times, "Times New Roman", serif;
  font-size: 19px;
  line-height: 1.55424;
}

.excerpt-entry .entry-content h1, .excerpt-entry .entry-content .editor-post-title__block .editor-post-title__input, .editor-post-title__block .excerpt-entry .entry-content .editor-post-title__input, .excerpt-entry .entry-content h2, .excerpt-entry .entry-content h3, .excerpt-entry .entry-content h4, .excerpt-entry .entry-content h5, .excerpt-entry .entry-content h6,
.single-post .entry-content h1,
.single-post .entry-content .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .single-post .entry-content .editor-post-title__input,
.single-post .entry-content h2,
.single-post .entry-content h3,
.single-post .entry-content h4,
.single-post .entry-content h5,
.single-post .entry-content h6 {
  font-family: Times, "Times New Roman", serif;
  line-height: 1.2;
}

.page .entry-content {
  line-height: 1.65482;
}

.entry-meta,
.comment-meta {
  font-size: 0.9em;
}

.entry-title,
.page-title {
  font-size: 2em;
  line-height: 1.2em;
}

.entry-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.format-aside .cat-links {
  font-size: 1em;
}

.format-aside .entry-header a {
  color: #44484d;
}

.format-aside .entry-header a:hover, .format-aside .entry-header a:focus {
  color: #01b0bb;
}

.format-aside h2.entry-title {
  color: #44484d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.4em !important;
  margin-top: .5em;
  /* Replace with SVG
        &:before {
            @include dashicon($glyph-aside);
            color: $color-text-secondary;
        }*/
}

.format-aside .entry-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3em;
}

/* Comments */
.comments-title {
  font-size: 2em;
  font-weight: 400;
  color: #017680;
}

.comment-content {
  font-family: Times, "Times New Roman", serif;
}

.comment-respond {
  line-height: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Archive view */
.archive-view .entry-title {
  font-size: 1.8em;
}

.archive-view .cat-links {
  font-size: 1.2em;
}

.archive-view .entry-content {
  font-size: 1.2em;
}

.excerpt-more {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Widgets */
.widget {
  line-height: 1.42428;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.rssSummary {
  font-family: Times, "Times New Roman", serif;
  font-size: .8em;
  line-height: 1.4em;
}

/* Front Page */
.fp-post,
.fp-post .entry-title {
  font-family: Times, "Times New Roman", serif;
}

/* Accessibility */
.widget p a,
.entry-content a,
.comment-content a {
  text-decoration: underline;
}

/* Gutenberg custom CSS */
/* Depreciating Dashicons
.wp-block-button.download .wp-block-button__link:before {
    @include dashicon($glyph-download);
}*/
/** Media queries **/
@media screen and (min-width: 735px) {
  /* Header */
  .global-header:not(.fixed-header) .site-title {
    font-size: 2.3em;
  }
  .main-navigation {
    font-size: 1.2em;
  }
  /* Posts & Pages */
  .entry-title,
  .page-title {
    font-size: 2.7em;
  }
  .entry-meta {
    font-size: 1em;
  }
}

@media screen and (min-width: 1023px) {
  /* Header */
  .site-description {
    font-size: 1em;
  }
}

@media screen and (min-width: 1365px) {
  /* Posts & Pages */
  .single .post .entry-title .page-title {
    font-size: 2.5em;
  }
}

/* Media captions */
.wp-block-gallery .blocks-gallery-item figcaption, .single .featured-image figcaption {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.7)), color-stop(80%, rgba(0, 0, 0, 0.3)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 80%, transparent);
  color: #c2cfcf;
  padding: .2em .5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wp-block-gallery .blocks-gallery-item figcaption {
  font-size: .8em;
}

.single .featured-image figcaption {
  font-size: .9em;
  width: 100%;
  text-align: right;
}

.entry-caption {
  font-size: 1.3em;
}

.wp-block-image figcaption {
  font-size: 1em;
}

.weracoba-big,
p.wp-block-subhead {
  font-size: 1.25em;
  text-align: center;
  color: #44484d;
  opacity: 1;
}

.wp-block-cover-image .wp-block-cover-image-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #e0e8e7;
}

.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
  padding: .2rem .75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  border: 2px solid currentcolor;
  border-radius: 8px;
}

.wp-block-button .wp-block-button__link:not(.has-text-color),
.wp-block-file .wp-block-file__button:not(.has-text-color) {
  color: white;
}

.wp-block-button .wp-block-button__link:not(.has-background),
.wp-block-file .wp-block-file__button:not(.has-background) {
  background: #017680;
}

.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus,
.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus {
  opacity: .9;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: #017680;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover, .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus {
  color: #01b0bb;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
  border-color: currentcolor;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover, .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):focus {
  border-color: currentcolor;
}

.wp-block-latest-posts {
  padding: 0;
  list-style: none;
}

.wp-block-latest-posts li {
  border-bottom: 1px dashed #c2cfcf;
  padding: .75em 0;
}

.wp-block-latest-posts li a {
  display: block;
  text-decoration: none;
}

.wp-block-latest-posts li a:hover, .wp-block-latest-posts li a:focus {
  text-decoration: none;
}

@media screen and (min-width: 735px) {
  p.wp-block-subhead {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 1365px) {
  .wp-block-cover-image .wp-block-cover-image-text {
    font-size: 2.75em;
  }
}

/* editor styles */
.editor-post-title__block .editor-post-title__input {
  font-family: Times, "Times New Roman", serif;
}

h1, .editor-post-title__block .editor-post-title__input, h2, h3, h4, h5, h6 {
  font-family: Times, "Times New Roman", serif;
}

a {
  color: #017680;
}

a:visited {
  color: #017680;
}

a:hover, a:focus, a:active {
  color: #01b0bb;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

p {
  font-family: Times, "Times New Roman", serif;
  font-size: 19px;
  line-height: 1.55424 !important;
}

.wp-block {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.wp-block[data-align="wide"], .wp-block[data-align="right"], .wp-block[data-align="left"] {
  max-width: 1200px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block,
.mce-content-body {
  font-family: Times, "Times New Roman", serif;
  font-size: 19px;
  line-height: 1.55424;
}

/** Media queries **/
@media screen and (min-width: 735px) {
  .editor-post-title__block .editor-post-title__input {
    font-size: 2.7em;
  }
}

@media screen and (min-width: 1365px) {
  .editor-post-title__block .editor-post-title__input {
    font-size: 2.5em;
  }
}
/*# sourceMappingURL=style-editor.css.map */