@import "sass/variables";
@import "sass/mixins";
@import "sass/typography";
@import "sass/sections/widgets"; // necessary for blocks
@import "sass/blocks";

/* Elements */

body {
	font-family: $font-reading;
	font-size: $font-size-base;
	line-height: calculate-line-height($font-size-base, $size-content);
}

* {
	border-color: $color-link; // from elements
}

.editor-post-title__block .editor-post-title__input,
.wp-block-heading h1.editor-rich-text__tinymce {
	@extend h1;
}
.wp-block-heading h2.editor-rich-text__tinymce {
	@extend h2;
}
.wp-block-heading h3.editor-rich-text__tinymce {
	@extend h3;
}
.wp-block-heading h4.editor-rich-text__tinymce {
	@extend h4;
}
.wp-block-heading h5.editor-rich-text__tinymce {
	@extend h5;
}
.wp-block-heading h6.editor-rich-text__tinymce {
	@extend h6;
}

p {
	font-size: $font-size-md;
}

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.wp-block {
	@include max-content-width;

	&[data-align="wide"],
	&[data-align="right"],
	&[data-align="left"],
	&[data-align="center"] {
		max-width: $size-site-width;
	}

	&[data-align="full"] {
		max-width: none;
	}

	&[data-type="core/image"] {
		@extend figure.wp-block-image;
		&[data-align] {
			@extend div.wp-block-image;
		}
	}

	/* Lists. See _elements.scss */

	ul,
	ol {
		&.mce-content-body {
			@include list-margins;

			li {
				> ul,
				> ol {
					@include nested-list-margins;
				}
			} 
		}
	}
	ul.mce-content-body {
		@include unordered-list-styles;
	}
	
	ol.mce-content-body {
		@include ordered-list-styles;
	}
}

.wp-block-quote {
	&:not(.is-large):not(.is-style-large),
	&.is-large,
	&.is-style-large {
		@include blockquote;
	}
	.wp-block-quote__citation {
		@include cite;
		font-size: $font-size-md;
		color: $color-text-main;
	}
}
.wp-block-pullquote .wp-block-pullquote__citation {
	@include cite;
	font-size: $font-size-md;
	color: $color-text-main;
	text-transform: none;
}

ul.wp-block-archives,
.wp-block-categories ul {
	padding: inherit;
}

.wp-block-file__textlink {
	color: $color-link;
	text-decoration: underline;
	&:hover,
	&:active,
	&:focus {
		color: $color-link-hover;
	}
}