@import "sass/variables";
@import "sass/mixins";
@import "sass/typography";
@import "sass/blocks";

/* editor styles */

.editor-post-title__block .editor-post-title__input {
	@extend h1;
	font-family: $font-reading;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-reading;
}

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

p {
	font-family: $font-reading;
	font-size: $font-reading-size;
	line-height: calculate-line-height($font-reading-size, $size-content) !important;
}

.wp-block {
	@include max-content-width;

	&[data-align="wide"],
	&[data-align="right"],
	&[data-align="left"] {
		max-width: $size-max-width;
	}

	&[data-align="full"] {
		max-width: none;
	}
}

.wp-block,
.mce-content-body {
	font-family: $font-reading;
	font-size: $font-reading-size;
	line-height: calculate-line-height($font-reading-size, $size-content);
}

/** Media queries **/

@media screen and (min-width: $breakpoint-1) {
    .editor-post-title__block .editor-post-title__input {
        font-size: 2.7em;
    }
}

@media screen and (min-width: $breakpoint-3) {
    .editor-post-title__block .editor-post-title__input {
        font-size: 2.5em;
    }
}