.edit-post-visual-editor {
  /* Posts & Pages */
  /* Comments */
  /* Archive view */
  /* Widgets */
  /* Media captions */
  /* Front Page */
  /* Accessibility */
  /* editor styles */
  /* Gutenberg custom CSS */
  /* Depreciating Dashicons
.wp-block-button.download .wp-block-button__link:before {
    @include dashicon($glyph-download);
}*/
  /** Media queries **/
}

.edit-post-visual-editor body,
.edit-post-visual-editor button,
.edit-post-visual-editor input,
.edit-post-visual-editor select,
.edit-post-visual-editor optgroup,
.edit-post-visual-editor textarea {
  color: #2f2f30;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65482;
}

.edit-post-visual-editor textarea {
  font-family: Times, "Times New Roman", serif;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.edit-post-visual-editor h1, .edit-post-visual-editor .editor-post-title textarea, .edit-post-visual-editor h2, .edit-post-visual-editor h3, .edit-post-visual-editor h4, .edit-post-visual-editor h5, .edit-post-visual-editor h6 {
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #10474b;
  font-weight: 400;
}

.edit-post-visual-editor h1, .edit-post-visual-editor .editor-post-title textarea {
  font-size: 2em;
}

.edit-post-visual-editor h2 {
  font-size: 1.5em;
}

.edit-post-visual-editor h3 {
  font-size: 1.4em;
}

.edit-post-visual-editor h4 {
  font-size: 1.2em;
}

.edit-post-visual-editor h5 {
  font-size: 1.1em;
}

.edit-post-visual-editor h6 {
  font-size: 1em;
}

.edit-post-visual-editor p {
  margin-bottom: 1em;
}

.edit-post-visual-editor dfn, .edit-post-visual-editor cite, .edit-post-visual-editor em, .edit-post-visual-editor i {
  font-style: italic;
}

.edit-post-visual-editor blockquote {
  font-size: .9em;
}

.edit-post-visual-editor pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

.edit-post-visual-editor code, .edit-post-visual-editor kbd, .edit-post-visual-editor tt, .edit-post-visual-editor var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

.edit-post-visual-editor abbr, .edit-post-visual-editor acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

.edit-post-visual-editor mark, .edit-post-visual-editor ins {
  background: #fff9c0;
  text-decoration: none;
}

.edit-post-visual-editor big {
  font-size: 125%;
}

.edit-post-visual-editor .site-title {
  font-family: Baskerville, "Baskerville Old Face", Garamond, Times, "Times New Roman", serif;
  font-size: 1.9em;
}

.edit-post-visual-editor .site-description {
  font-size: .8em;
}

.edit-post-visual-editor .main-navigation {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.1em;
}

.edit-post-visual-editor .excerpt-entry .entry-header h1, .edit-post-visual-editor .excerpt-entry .entry-header .editor-post-title textarea, .edit-post-visual-editor .editor-post-title .excerpt-entry .entry-header textarea, .edit-post-visual-editor .excerpt-entry .entry-header h2,
.edit-post-visual-editor .single-post .entry-header h1,
.edit-post-visual-editor .single-post .entry-header .editor-post-title textarea,
.edit-post-visual-editor .editor-post-title .single-post .entry-header textarea,
.edit-post-visual-editor .single-post .entry-header h2 {
  font-family: Times, "Times New Roman", serif;
}

.edit-post-visual-editor .excerpt-entry .entry-content,
.edit-post-visual-editor .single-post .entry-content {
  font-family: Times, "Times New Roman", serif;
  font-size: 19px;
  line-height: 1.55424;
}

.edit-post-visual-editor .excerpt-entry .entry-content h1, .edit-post-visual-editor .excerpt-entry .entry-content .editor-post-title textarea, .edit-post-visual-editor .editor-post-title .excerpt-entry .entry-content textarea, .edit-post-visual-editor .excerpt-entry .entry-content h2, .edit-post-visual-editor .excerpt-entry .entry-content h3, .edit-post-visual-editor .excerpt-entry .entry-content h4, .edit-post-visual-editor .excerpt-entry .entry-content h5, .edit-post-visual-editor .excerpt-entry .entry-content h6,
.edit-post-visual-editor .single-post .entry-content h1,
.edit-post-visual-editor .single-post .entry-content .editor-post-title textarea,
.edit-post-visual-editor .editor-post-title .single-post .entry-content textarea,
.edit-post-visual-editor .single-post .entry-content h2,
.edit-post-visual-editor .single-post .entry-content h3,
.edit-post-visual-editor .single-post .entry-content h4,
.edit-post-visual-editor .single-post .entry-content h5,
.edit-post-visual-editor .single-post .entry-content h6 {
  font-family: Times, "Times New Roman", serif;
}

.edit-post-visual-editor .editor-writing-flow {
  /* For the editor */
}

.edit-post-visual-editor .editor-writing-flow h1, .edit-post-visual-editor .editor-writing-flow .editor-post-title textarea, .edit-post-visual-editor .editor-post-title .editor-writing-flow textarea, .edit-post-visual-editor .editor-writing-flow h2, .edit-post-visual-editor .editor-writing-flow h3, .edit-post-visual-editor .editor-writing-flow h4, .edit-post-visual-editor .editor-writing-flow h5, .edit-post-visual-editor .editor-writing-flow h6 {
  font-family: Times, "Times New Roman", serif;
}

.edit-post-visual-editor .page .entry-content {
  line-height: 1.65482;
}

.edit-post-visual-editor .entry-meta,
.edit-post-visual-editor .comment-meta {
  font-size: 0.9em;
}

.edit-post-visual-editor .entry-title, .edit-post-visual-editor .editor-post-title textarea,
.edit-post-visual-editor .page-title {
  font-size: 2em;
  line-height: 1.2em;
}

.edit-post-visual-editor .entry-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.edit-post-visual-editor .format-aside .cat-links {
  font-size: 1em;
}

.edit-post-visual-editor .format-aside .entry-header a {
  color: #44484d;
}

.edit-post-visual-editor .format-aside .entry-header a:hover, .edit-post-visual-editor .format-aside .entry-header a:focus {
  color: #01b0bb;
}

.edit-post-visual-editor .format-aside h2.entry-title {
  color: #44484d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.4em !important;
  margin-top: .5em;
  /* Replace with SVG
        &:before {
            @include dashicon($glyph-aside);
            color: $color-text-secondary;
        }*/
}

.edit-post-visual-editor .format-aside .entry-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3em;
}

.edit-post-visual-editor .comments-title {
  font-size: 2em;
  font-weight: 400;
  color: #017680;
}

.edit-post-visual-editor .comment-content {
  font-family: Times, "Times New Roman", serif;
}

.edit-post-visual-editor .comment-respond {
  line-height: 1.3em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.edit-post-visual-editor .archive-view .entry-title, .edit-post-visual-editor .archive-view .editor-post-title textarea, .edit-post-visual-editor .editor-post-title .archive-view textarea {
  font-size: 1.8em;
}

.edit-post-visual-editor .archive-view .cat-links {
  font-size: 1.2em;
}

.edit-post-visual-editor .archive-view .entry-content {
  font-size: 1.2em;
}

.edit-post-visual-editor .excerpt-more {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.edit-post-visual-editor .widget {
  line-height: 1.42428;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.edit-post-visual-editor .rssSummary {
  font-family: Times, "Times New Roman", serif;
  font-size: .8em;
  line-height: 1.4em;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption, .edit-post-visual-editor .single .featured-image figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: #c2cfcf;
  padding: .2em .5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption {
  font-size: .7em;
}

.edit-post-visual-editor .single .featured-image figcaption {
  font-size: .9em;
}

.edit-post-visual-editor .entry-caption {
  font-size: 1.3em;
}

.edit-post-visual-editor .fp-post,
.edit-post-visual-editor .fp-post .entry-title,
.edit-post-visual-editor .fp-post .editor-post-title textarea,
.edit-post-visual-editor .editor-post-title .fp-post textarea {
  font-family: Times, "Times New Roman", serif;
}

.edit-post-visual-editor .widget p a,
.edit-post-visual-editor .entry-content a,
.edit-post-visual-editor .comment-content a {
  text-decoration: underline;
}

.edit-post-visual-editor .editor-post-title textarea {
  font-family: Times, "Times New Roman", serif;
}

.edit-post-visual-editor .wp-block-image figcaption {
  font-size: 1em;
}

.edit-post-visual-editor .weracoba-big,
.edit-post-visual-editor p.wp-block-subhead {
  font-size: 1.25em;
  text-align: center;
  color: #44484d;
  opacity: 1;
}

.edit-post-visual-editor .wp-block-cover-image .wp-block-cover-image-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #e0e8e7;
}

.edit-post-visual-editor .wp-block-button .wp-block-button__link,
.edit-post-visual-editor .wp-block-file a.wp-block-file__button {
  padding: .2rem .75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  border: 2px solid currentcolor;
  border-radius: 8px;
}

.edit-post-visual-editor .wp-block-button .wp-block-button__link:not(.has-text-color),
.edit-post-visual-editor .wp-block-file a.wp-block-file__button:not(.has-text-color) {
  color: white;
}

.edit-post-visual-editor .wp-block-button .wp-block-button__link:not(.has-background),
.edit-post-visual-editor .wp-block-file a.wp-block-file__button:not(.has-background) {
  background: #017680;
}

.edit-post-visual-editor .wp-block-button .wp-block-button__link:hover, .edit-post-visual-editor .wp-block-button .wp-block-button__link:focus,
.edit-post-visual-editor .wp-block-file a.wp-block-file__button:hover,
.edit-post-visual-editor .wp-block-file a.wp-block-file__button:focus {
  opacity: .9;
}

.edit-post-visual-editor .wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.edit-post-visual-editor .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: #017680;
}

.edit-post-visual-editor .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover, .edit-post-visual-editor .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus {
  color: #01b0bb;
}

.edit-post-visual-editor .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
  border-color: currentcolor;
}

.edit-post-visual-editor .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover, .edit-post-visual-editor .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):focus {
  border-color: currentcolor;
}

.edit-post-visual-editor .wp-block-latest-posts {
  padding: 0;
  list-style: none;
}

.edit-post-visual-editor .wp-block-latest-posts li {
  border-bottom: 1px dashed #c2cfcf;
  padding: .75em 0;
}

.edit-post-visual-editor .wp-block-latest-posts li a {
  display: block;
  text-decoration: none;
}

.edit-post-visual-editor .wp-block-latest-posts li a:hover, .edit-post-visual-editor .wp-block-latest-posts li a:focus {
  text-decoration: none;
}

@media screen and (min-width: 735px) {
  .edit-post-visual-editor {
    /* Header */
    /* Posts & Pages */
    /* Gutenberg */
  }
  .edit-post-visual-editor .global-header:not(.fixed-header) .site-title {
    font-size: 2.3em;
  }
  .edit-post-visual-editor .main-navigation {
    font-size: 1.2em;
  }
  .edit-post-visual-editor .entry-title, .edit-post-visual-editor .editor-post-title textarea,
  .edit-post-visual-editor .page-title {
    font-size: 2.7em;
  }
  .edit-post-visual-editor .entry-meta {
    font-size: 1em;
  }
  .edit-post-visual-editor .weracoba-big,
  .edit-post-visual-editor p.wp-block-subhead {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 1023px) {
  .edit-post-visual-editor {
    /* Header */
  }
  .edit-post-visual-editor .site-description {
    font-size: 1em;
  }
}

@media screen and (min-width: 1365px) {
  .edit-post-visual-editor {
    /* Posts & Pages */
    /* Gutenberg */
  }
  .edit-post-visual-editor .single .post .entry-title .page-title, .edit-post-visual-editor .single .post .editor-post-title textarea .page-title, .edit-post-visual-editor .editor-post-title .single .post textarea .page-title {
    font-size: 2.5em;
  }
  .edit-post-visual-editor .wp-block-cover-image .wp-block-cover-image-text {
    font-size: 2.75em;
  }
}

.edit-post-visual-editor .editor-rich-text {
  /* Lists */
  /* Tables */
  /*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
  /*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
}

.edit-post-visual-editor .editor-rich-text html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.edit-post-visual-editor .editor-rich-text *,
.edit-post-visual-editor .editor-rich-text *:before,
.edit-post-visual-editor .editor-rich-text *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.edit-post-visual-editor .editor-rich-text body {
  background: white;
  /* Fallback for when there is no custom background color defined. */
}

.edit-post-visual-editor .editor-rich-text body.archive-view,
.edit-post-visual-editor .editor-rich-text body.attachment,
.edit-post-visual-editor .editor-rich-text body.single-format-aside {
  background: #e0e8e7;
}

.edit-post-visual-editor .editor-rich-text hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.edit-post-visual-editor .editor-rich-text ul, .edit-post-visual-editor .editor-rich-text ol {
  margin: 0 0 1.5em 0;
}

.edit-post-visual-editor .editor-rich-text ul {
  list-style: disc;
}

.edit-post-visual-editor .editor-rich-text ul ul {
  list-style: circle;
}

.edit-post-visual-editor .editor-rich-text ul ul ul {
  list-style: square;
}

.edit-post-visual-editor .editor-rich-text ul ul ul ul {
  list-style: initial;
}

.edit-post-visual-editor .editor-rich-text ol {
  list-style: decimal;
}

.edit-post-visual-editor .editor-rich-text ol ol {
  list-style: upper-alpha;
}

.edit-post-visual-editor .editor-rich-text ol ol ol {
  list-style: lower-roman;
}

.edit-post-visual-editor .editor-rich-text ol ol ol ol {
  list-style: lower-alpha;
}

.edit-post-visual-editor .editor-rich-text ol ol ol ol ol {
  list-style: initial;
}

.edit-post-visual-editor .editor-rich-text li > ul,
.edit-post-visual-editor .editor-rich-text li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.edit-post-visual-editor .editor-rich-text dt {
  font-weight: 700;
}

.edit-post-visual-editor .editor-rich-text dd {
  margin: 0 1.5em 1.5em;
}

.edit-post-visual-editor .editor-rich-text blockquote {
  /* margin: 0 1.5em; */
  padding: 0 1.5em;
  /* use padding to avoid conflict with post content margins */
  border-left: 4px solid #017680;
}

.edit-post-visual-editor .editor-rich-text address {
  margin: 0 0 1.5em;
}

.edit-post-visual-editor .editor-rich-text img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

.edit-post-visual-editor .editor-rich-text svg {
  -webkit-transition: fill 120ms ease-in-out;
  transition: fill 120ms ease-in-out;
  fill: currentColor;
}

.edit-post-visual-editor .editor-rich-text figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

.edit-post-visual-editor .editor-rich-text table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
}

.edit-post-visual-editor .editor-rich-text th, .edit-post-visual-editor .editor-rich-text td {
  border: 1px solid black;
  padding: 0 6px;
}

.edit-post-visual-editor .editor-rich-text input[type="text"],
.edit-post-visual-editor .editor-rich-text input[type="email"],
.edit-post-visual-editor .editor-rich-text input[type="url"],
.edit-post-visual-editor .editor-rich-text input[type="password"],
.edit-post-visual-editor .editor-rich-text input[type="search"],
.edit-post-visual-editor .editor-rich-text input[type="number"],
.edit-post-visual-editor .editor-rich-text input[type="tel"],
.edit-post-visual-editor .editor-rich-text input[type="range"],
.edit-post-visual-editor .editor-rich-text input[type="date"],
.edit-post-visual-editor .editor-rich-text input[type="month"],
.edit-post-visual-editor .editor-rich-text input[type="week"],
.edit-post-visual-editor .editor-rich-text input[type="time"],
.edit-post-visual-editor .editor-rich-text input[type="datetime"],
.edit-post-visual-editor .editor-rich-text input[type="datetime-local"],
.edit-post-visual-editor .editor-rich-text input[type="color"],
.edit-post-visual-editor .editor-rich-text textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  max-width: 100%;
}

.edit-post-visual-editor .editor-rich-text input[type="text"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="email"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="url"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="password"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="search"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="number"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="tel"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="range"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="date"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="month"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="week"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="time"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="datetime"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="datetime-local"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="color"]:focus,
.edit-post-visual-editor .editor-rich-text textarea:focus {
  color: #111;
}

.edit-post-visual-editor .editor-rich-text select {
  border: 1px solid #ccc;
}

.edit-post-visual-editor .editor-rich-text textarea {
  width: 100%;
}

.edit-post-visual-editor .editor-rich-text button:not(.components-button),
.edit-post-visual-editor .editor-rich-text input[type="button"],
.edit-post-visual-editor .editor-rich-text input[type="reset"],
.edit-post-visual-editor .editor-rich-text input[type="submit"] {
  padding: .2rem .75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  border: 2px solid currentcolor;
  border-radius: 8px;
}

.edit-post-visual-editor .editor-rich-text button:not(.components-button):not(.has-text-color),
.edit-post-visual-editor .editor-rich-text input[type="button"]:not(.has-text-color),
.edit-post-visual-editor .editor-rich-text input[type="reset"]:not(.has-text-color),
.edit-post-visual-editor .editor-rich-text input[type="submit"]:not(.has-text-color) {
  color: white;
}

.edit-post-visual-editor .editor-rich-text button:not(.components-button):not(.has-background),
.edit-post-visual-editor .editor-rich-text input[type="button"]:not(.has-background),
.edit-post-visual-editor .editor-rich-text input[type="reset"]:not(.has-background),
.edit-post-visual-editor .editor-rich-text input[type="submit"]:not(.has-background) {
  background: #017680;
}

.edit-post-visual-editor .editor-rich-text button:not(.components-button):hover, .edit-post-visual-editor .editor-rich-text button:not(.components-button):focus,
.edit-post-visual-editor .editor-rich-text input[type="button"]:hover,
.edit-post-visual-editor .editor-rich-text input[type="button"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="reset"]:hover,
.edit-post-visual-editor .editor-rich-text input[type="reset"]:focus,
.edit-post-visual-editor .editor-rich-text input[type="submit"]:hover,
.edit-post-visual-editor .editor-rich-text input[type="submit"]:focus {
  opacity: .9;
}

.edit-post-visual-editor .editor-rich-text a {
  color: #017680;
  text-decoration: none;
}

.edit-post-visual-editor .editor-rich-text a:visited {
  color: #017680;
}

.edit-post-visual-editor .editor-rich-text a:hover, .edit-post-visual-editor .editor-rich-text a:focus, .edit-post-visual-editor .editor-rich-text a:active {
  color: #01b0bb;
}

.edit-post-visual-editor .editor-rich-text a:focus {
  outline: thin dotted;
}

.edit-post-visual-editor .editor-rich-text a:hover, .edit-post-visual-editor .editor-rich-text a:active {
  outline: 0;
}
/*# sourceMappingURL=style-editor.css.map */