.archive-view {
    .post,
    .page {
        position: relative;
        background: white;
        border: 1px solid $color__text-header;
        border-radius: 5px;
    }

    .post_content {
        padding-top: 1em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;

        @media sceen and (min-width: 768px) {
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}
.continue-reading {
	position: absolute;
	right: 5px;
	bottom: 5px;

    a {
        display: block;
        padding: .5em 1em;
        @include button-light

        &:after {
            content: $glyph__arrow-next;
        }

        &:hover,
        &:focus {
            color: $color__text-main;
            background: $color__link-hover;
        }
    }
}
@media screen and (min-width: 900px) {
    .archive-view.has-sidebar{

        .site-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .content-area {
            width: 65%;
        }

        .widget-area {
            width: 30%;
        }
    }
	.site-main .page-header {
		width: 100%;
		flex: 1 0 100%;
	}
}
