.archive-view {
    .site-content {
        @include max-site-width;
        margin-top: 1em;
    }

    .content-area {
        @include max-content-width;
    }

    .post,
    .page {
        position: relative;
        border-bottom: 1px solid $color__border-menu;
        padding-bottom: 2em;
        margin-bottom: 3em;
    }

    @media screen and (min-width: $breakpoint__2) {
        .site-content {
            display: flex;
            justify-content: space-between;
        }

        .content-area {
            flex-shrink: 0;
        }
    }
	.site-main .page-header {
		width: 100%;
		flex: 1 0 100%;
	}

}
.continue-reading {
	right: 5px;
	bottom: .5em;
    text-align: center;

    a {
        display: block;
        @include button-light

        &:after {
            content: $glyph__arrow-next;
        }
    }

    @media screen and (min-width: $breakpoint) {
        position: absolute;
    }
}
