.archive-view {
	.site-main .page-header {
		width: 100%;
		flex: 1 0 100%;
	}
    .site-content {
        @include max-site-width;
        /* margin-top: 1em; */
    }

    .content-area {
        //@include max-content-width;
        width: 100%;
    }

    .content-area .post,
    .content-area .page {
        position: relative;
        border-bottom: 1px solid $color-border;
        padding: .5em;
        margin-bottom: 2em;
        @include drop-shadow;

        &:last-child {
            border: 0;
        }
    }
    .entry-meta {
        @include entry-meta-inline;
        padding-top: 0;
        margin: 0 0 .5em 0;
        min-height: 0;
    }
    @media screen and (min-width: $breakpoint-1) {
        .entry-meta {
            //@include entry-meta-inline;
        }
        .entry-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .content-area .post,
        .content-area .page {
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }
    }
    
    @media screen and (min-width: $breakpoint-2) {
        .site-content {
            display: flex;
            justify-content: space-between;
        }
    }
}
.archive-description {
    /*border-bottom: 1px solid $color-border;
    margin-bottom: 1em;*/
    font-size: 1.2em;
}
.continue-reading {
    text-align: center;
    flex-shrink: 0;

    a {
        display: block;
        @include button;

        &:after {
            content: $glyph-arrow-next;
        }
    }
}

.excerpt-more {
    display: inline-block;
    font-family: $font-UI;
    font-size: 1rem;

    &:after {
        content: " " + $glyph-arrow-next;
        vertical-align: middle;
    }
}

/*.archive-cat-list {
    list-style: none;
    margin: 0 0 2em;
    font-size: 1.1em;

    .categories > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > .cat-item {
            @include widget-columns;
        }

        .cat-item ul {
            font-size: .8em;
        }
    }
}*/

.archive-cat-list {
    list-style: none;
    margin: 0 0 2em;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .cat-item {
        @include widget-columns;
    }

    .cat-item ul {
        font-size: .8em;
    }
}

