.archive-view {
    .entry-wrap {
        width: 100%;
    }
    .content-area .excerpt-entry {
        position: relative;
        border-bottom: 1px solid $color-border;
        padding: .5em;
        margin-bottom: 1em;
        @include drop-shadow;

        &:last-child {
            border: 0;
        }
    }
    .content-area .excerpt-entry,
    .format-aside {
        @include full-bleed;
    }
    .entry-meta {
        @include entry-meta-inline;
        padding-top: 0;
        margin: 0 0 .5em 0;
        min-height: 0;
    }
    .entry-title {
        text-align: left; // to cancel the center alignment on pages
    }
    .page-title {
        text-align: center;
        //margin: 0 0 1em 0;
    }
    .site-header .entry-header {
        margin-left: 1em;
        margin-right: 1em;
        @include max-site-width;
    }
}
.archive-description {
    font-size: 1.2em;
    @include max-content-width;
    text-align: center;
}
.continue-reading {
    text-align: center;
    flex-shrink: 0;

    a {
        display: block;
        @include button;
        padding: 0 .2em 0 1em; // testing...
        /* replaced by SVG
        &:after {
            content: $glyph-arrow-next;
        }*/
    }
}
/*.excerpt-more {
    display: inline-block;
    font-size: 1rem;
    
    &:after {
        content: " " + $glyph-arrow-next;
        vertical-align: middle;
    }
}*/

/** Archive Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .archive-view {
        .entry-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .page .entry-footer {
            justify-content: flex-end;
        }
        .content-area .post.has-post-thumbnail,
        .content-area .page.has-post-thumbnail {
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }
        .content-area .excerpt-entry,
        .format-aside {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media screen and (min-width: $breakpoint-2) {
    .archive-view .site-content {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        
        .content-area {
            width: 100%;
        }
    }
}