.archive-view {
    .entry-wrap {
        width: 100%;
    }
}
.archive-description {
    @include max-content-width;
    text-align: center;
}
.continue-reading {
    text-align: center;
	flex-shrink: 0;
    a {
        display: block;
		@include button;
		border-radius: $border-radius-button-square;
    }
}

.excerpt-entry {
	position: relative;
	@extend %smallscreen-padding;
	padding-bottom: .8em; // matches %smallscreen-padding
	margin-bottom: 1em;
	@include full-bleed;
	@include drop-shadow;
	.entry-header {
		padding: 0; // cancel the padding from the main entry-headers
	}
    .entry-title {
        text-align: left; // to cancel the center alignment on pages
	}
    .entry-meta {
		@include entry-meta-inline;
		margin: 0 0 1rem 0;
		min-height: 0;
		font-size: $font-size-sm;
		> * {
			margin-bottom: .25em;
		}
		.tags-links {
			display: block;
		}
    }
}

/** Archive Media Queries **/

@media screen and (min-width: $breakpoint-1) {
	.excerpt-entry {
		//@include full-bleed-cancel;
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 33% auto;
		grid-template-rows: auto;
		// Doesn't work with IE. //
		// grid-template-areas: 
		// 	"header header"
		// 	"content content"
		// 	"footer footer";
		// &.has-post-thumbnail {
		// 	grid-template-areas: 
		// 		"header header"
		// 		"thumbnail content"
		// 		"footer footer";
		// }
		.entry-header {
			margin-bottom: 1rem;
			// grid-area: header;
			grid-row: 1 / span 1;
			grid-column: 1 / span 2;
			.cat-links {
				margin-bottom: .25em;
			}
		}
		.featured-image {
			// grid-area: thumbnail;
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
		}
		.entry-content {
			// grid-area: content;
			grid-column: 1 / span 2;
			grid-row: 2 / span 1;
			p {
				margin: 0;
			}
		}
		&.has-post-thumbnail .entry-content {
			margin-left: 1em;
			grid-column: 2 / span 1;
		}
		.entry-footer {
			margin-top: 1rem;
			// grid-area: footer;
			grid-column: 1 / span 2;
			grid-row: 3 / span 1;
			width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
			align-items: center;
			.entry-meta {
				flex-shrink: 1; // IE fix
				margin: 0;
			}
        }
        &.page .entry-footer {
            justify-content: flex-end;
        }
	}
}
@media screen and (min-width: $breakpoint-2) {
    .archive-view .site-content {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        
        .content-area {
            width: 100%;
        }
    }
}

@media screen and (min-width: $breakpoint-3) {
	.excerpt-entry {
		// we're keeping the padding on large screens
		padding-left: .8rem; // matches smallscreen-padding
		padding-right: .8rem; // matches smallscreen-padding
	}
}