.archive-view {
    .entry-wrap {
        width: 100%;
    }
    .content-area .archive-entry,
    .content-area .format-aside {
        position: relative;
        border-bottom: 1px solid $color-border;
        padding: .5em;
        margin-bottom: 2em;
        @include drop-shadow;

        &:last-child {
            border: 0;
        }
    }
    .entry-meta {
        @include entry-meta-inline;
        padding-top: 0;
        margin: 0 0 .5em 0;
        min-height: 0;
    }
    .entry-title {
        text-align: left; // to cancel the center alignment on pages
    }
    @media screen and (min-width: $breakpoint-1) {
        .entry-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .page .entry-footer {
            justify-content: flex-end;
        }
        .content-area .post.has-post-thumbnail,
        .content-area .page.has-post-thumbnail {
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }
    }
}
.archive-description {
    font-size: 1.2em;
    width: 100%;
    flex: 1 0 100%;
}
.continue-reading {
    text-align: center;
    flex-shrink: 0;

    a {
        display: block;
        @include button;

        &:after {
            content: $glyph-arrow-next;
        }
    }
}

.excerpt-more {
    display: inline-block;
    font-family: $font-UI;
    font-size: 1rem;

    &:after {
        content: " " + $glyph-arrow-next;
        vertical-align: middle;
    }
}

.archive-cat-list {
    list-style: none;
    margin: 0 0 2em;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > .cat-item {
        @include widget-columns;
    }

    .cat-item ul {
        font-size: .8em;
    }
}

.archive-view .post.format-aside {
    width: 90%;
    margin: 0 auto 2em auto;
    border-radius: 23px;
    
    @media screen and (min-width: $breakpoint-1) {
        padding-left: 1em;
        padding-right: 1em;
    }
}