.archive-view {
    .entry-wrap {
        width: 100%;
    }
}
.archive-title {
	@extend %font-reading;
}
.archive-description {
	@extend %font-reading;
    @include max-content-width;
}
.continue-reading {
    text-align: center;
	flex-shrink: 0;
    a {
        display: block;
		border-radius: $border-radius-button-square;
		@extend %button;
		@extend %button-background;
		@extend %button-color;
		&:visited {
			color: $color-bg-body;
		}
		&:hover,
		&:focus,
		&:active {
			color: $color-bg-body;
			background: $color-link-hover;
		}
	}
}

.excerpt-entry {
	position: relative;
	@include max-content-width;
	&:not(:last-of-type) {
		margin-bottom: 2em;
	}
	.entry-header {
		padding: 0; // cancel the padding from the main entry-headers
	}
	.cat-links {
		@include tab-head;
		font-weight: 400;
		border-bottom-style: solid;
	}
    .entry-title {
		text-align: left; // to cancel the center alignment on pages
		margin-bottom: .5em;
	}
    .entry-meta {
		@include entry-meta-inline;
		margin: 0 0 1rem 0;
		min-height: 0;
		font-size: $font-size-sm;
		> * {
			margin-bottom: .25em;
		}
		.tags-links {
			display: block;
		}
	}
	.entry-content p {
		margin: 0;
	}
}

/** Archive Media Queries **/
@media screen and (min-width: $breakpoint-1) {
	.excerpt-entry {
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 33% auto;
		grid-template-rows: auto;
		// Doesn't work with IE. //
		// grid-template-areas: 
		// 	"header header"
		// 	"content content"
		// 	"footer footer";
		// &.has-post-thumbnail {
		// 	grid-template-areas: 
		// 		"header header"
		// 		"thumbnail content"
		// 		"footer footer";
		// }
		.entry-header {
			// margin-bottom: 1rem;
			// grid-area: header;
			grid-row: 1 / span 1;
			grid-column: 1 / span 2;
		}
		.featured-image {
			// grid-area: thumbnail;
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
			align-self: start;
		}
		.entry-content {
			// grid-area: content;
			grid-column: 1 / span 2;
			grid-row: 2 / span 1;
			p {
				margin: 0;
			}
		}
		&.has-post-thumbnail .entry-content {
			margin-left: 1em;
			grid-column: 2 / span 1;
		}
		.entry-footer {
			margin-top: 1rem;
			// grid-area: footer;
			grid-column: 1 / span 2;
			grid-row: 3 / span 1;
			width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
			align-items: flex-start;
			.entry-meta {
				flex-shrink: 1; // IE fix
				margin: 0;
			}
        }
        &.page .entry-footer {
            justify-content: flex-end;
        }
	}
}
@media screen and (min-width: $breakpoint-2) {
    .archive-view .site-content {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        
        .content-area {
            width: 100%;
        }
    }
}
