.archive-view {
    .entry-wrap {
        width: 100%;
    }
    .content-area .excerpt-entry {
        position: relative;
        border-bottom: 1px solid $color-border;
        padding: 0 .5em .5em .5em;
        margin-bottom: 1em;
        @include drop-shadow;

        &:last-child {
            border: 0;
        }
    }
    .entry-meta {
        @include entry-meta-inline;
        padding-top: 0;
        margin: 0 0 1em 0;
        min-height: 0;
    }
    .entry-title {
        text-align: left; // to cancel the center alignment on pages
    }
    .archive-title {
        text-align: center;
    }
    .site-header .entry-header {
        margin-left: 1em;
        margin-right: 1em;
        @include max-site-width;
	}
	.cat-links {
		margin-bottom: .25em;
	}
}
.archive-description {
    font-size: 1.2em;
    @include max-content-width;
    text-align: center;
}
.continue-reading {
    text-align: center;
    flex-shrink: 0;

    a {
        display: block;
        @include button;
        font-size: 1.2em;
    }
}

.excerpt-entry,
.format-aside {
	@include full-bleed;
}

/** Archive Media Queries **/

@media screen and (min-width: $breakpoint-1) {
	/**
    .archive-view {
        .content-area .post.has-post-thumbnail .entry-wrap,
        .content-area .page.has-post-thumbnail .entry-wrap {
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }
        .content-area .excerpt-entry,
        .format-aside {
            margin-left: auto;
            margin-right: auto;
            padding-top: .5em; // to match the rest of the padding
        }
        .entry-meta {
            margin-bottom: 0;
        }
	}
	*/
	.excerpt-entry {
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 33% auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"header header"
			"content content"
			"footer footer";
		&.has-post-thumbnail {
			grid-template-areas: 
				"header header"
				"thumbnail content"
				"footer footer";
		}
		.entry-header {
			margin-bottom: 1rem;
			grid-area: header;
		}
		.featured-image {
			grid-area: thumbnail;
		}
		.entry-content {
			grid-area: content;
			p {
				margin: 0;
			}
		}
		&.has-post-thumbnail .entry-content {
			margin-left: 1em;
		}
		.entry-footer {
			margin-top: 1rem;
			grid-area: footer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .page .entry-footer {
            justify-content: flex-end;
        }
	}
}
@media screen and (min-width: $breakpoint-2) {
    .archive-view .site-content {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        
        .content-area {
            width: 100%;
        }
    }
}