.comment-content {
	font-family: $font-reading;
	a {
		word-wrap: break-word;
	}
}
.bypostauthor {
	display: block;
}
.comments-area {
    @include max-content-width;
}
.attachment .comments-area {
    @include drop-shadow;
    padding: .5em 1em;
}
.comment-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
    @include max-content-width;

    ol {
        list-style-type: none;
    }
}
.comment-body {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 3em;
}
.comment-meta {
    .avatar {
		height: $size-avatar-sm;
		width: $size-avatar-sm;
		margin-right: 1em;
    }
}
.comment-metadata {
	text-align: right;
}
.comment .edit-link {
	display: block;
}
.children {
	margin-left: 1.5em;
	padding-left: 0;
}
.comment-metadata {
	font-size: $font-size-xs;
    margin-top: .2em;
    padding-bottom: .5em;
}
.comment-author {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
.says {
	//font-size: $font-size-xs;
	display: none;
}
.reply {
	margin-bottom: 1.5em;
	text-align: right;
	font-size: $font-size-sm;
}
.reply a {
    @include button;
}
/** Comment Form **/
.comment-reply-title {
	margin: .5em 0;
}
.comment-list .comment-reply-title {
	text-align: left;
}
.comment-respond {
	@include max-content-width;
	.comment-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		font-size: $font-size-sm;
		textarea,
		.form-submit {
			font-size: 1rem;
		}
		p {
			margin-bottom: 0;
			flex: 0 0 100%;
			&:empty {
				display: none;
			}
		}
		.submit, // The Jetpack button
		.form-submit {
			text-align: right;
			input {
				@include button;
			}
		}
		.submit { // The Jetpack button
			margin-top: 1em;
		}
		label {
			display: block;
			padding-bottom: .4em;
		}
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			flex: 0 1 33%;
			max-width: 100%;
		}
	}
}

@media screen and (min-width: $breakpoint-1) {
	.children {
		margin-left: 2em;
	}
	.comment-meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.avatar {
			height: $size-avatar-md;
			width: $size-avatar-md;
			display: inline-block;
		}
	}
	.comment .edit-link {
		display: inline;
		&:before {
			content: "| ";
			margin: 0 0.5em;
		}
	}
	.comment-author {
		margin-bottom: 0;
	}
}
