.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comments-area {
    /*margin: 3em 0;*/
    /*padding: 1.5em 0;*/
    max-width: $size__max-width;
    margin-right: auto;
    margin-left: auto;
}
.comments-title {
	font-size: 2em;
	font-weight: normal;
    font-family: $font__UI;
    color: $color__tint;
}
.comment-list {
	padding: 1em;
	margin: -1em;
	list-style-type: none;
    max-width: $size__content;
    margin: auto;

    ol {
        list-style-type: none;
    }
}
.comment-body {
	border-bottom: 1px solid $color__border-menu;
	margin-bottom: 3em;
}
.comment-meta {
	position: relative;
	margin-left: 70px;
	font-family: $font__UI;
	font-size: .9em;
}
.comment{
    .avatar {
        position: absolute;
        top: -5px;
        left: -70px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .edit-link {
        display: block;

        @media screen and (min-width: $breakpoint__1) {
            display: inline;

            &:before {
                content: "| ";
                margin: 0 0.5em;
                color: $color__border-menu;
            }
        }
    }
}
.children {
	margin-left: 1.5em;
	padding-left: 0;
}
.comment-metadata {
    margin-top: .2em;
    padding-bottom: .5em;
}
.comment-author {
    line-height: 1.3em;
    font-size-adjust: 1.125em;
}
.says {
    font-size: .8em;
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;
}
.reply a {
	display: inline-block;
    @include button-light
}
.comment-content a {
	word-wrap: break-word;
}
/******************* Comment Form **********************/
.comment-reply-title {
	line-height: 1.3em;
	font-family: $font__UI;
    color: $color__tint;
}
.comment-list .comment-reply-title {
	text-align: left;
}
.comment-respond {
	line-height: 1.3em;
	font-family: $font__headers;
    max-width: $size__content;
    margin: auto;

    .form-submit {
        text-align: right;
        input {
            @include button-light;
        }
    }

    label {
        width: 33%;
        display: block;
        font-style: italic;
        padding-bottom: .4em;
    }

    .required {
        color: red;
    }
}

@media screen and (min-width: 900px) {
	.children {
		margin-left: 2em;
	}
}
