.comments-title {
    color: $color-tint;
}
.comment-content {
	font-family: $font-reading;
	a {
		word-wrap: break-word;
	}
}
.bypostauthor {
	display: block;
}
.comments-area {
    @include max-content-width;
}
.attachment .comments-area {
    @include drop-shadow;
    padding: .5em 1em;
}
.comment-list {
	padding: 1em;
	margin: -1em;
	list-style-type: none;
    @include max-content-width;

    ol {
        list-style-type: none;
    }
}
.comment-body {
	border-bottom: 1px solid $color-border;
	margin-bottom: 3em;
}
.comment-meta {
	@include avatar(48px);
    .avatar {
        top: 0;
    }
}
.comment{
    .edit-link {
        display: block;

        @media screen and (min-width: $breakpoint-1) {
            display: inline;

            &:before {
                content: "| ";
                margin: 0 0.5em;
                color: $color-border;
            }
        }
    }
}
.children {
	margin-left: 1.5em;
	padding-left: 0;
}
.comment-metadata {
	font-size: $font-size-xs;
    margin-top: .2em;
    padding-bottom: .5em;
}
.comment-author {
    line-height: 1.3em;
    font-size-adjust: 1.125em;
}
.says {
	font-size: $font-size-xs;
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;
}
.reply a {
	display: inline-block;
    @include button;
}
/** Comment Form **/
.comment-reply-title {
	margin: .5em 0;
}
.comment-list .comment-reply-title {
	text-align: left;
}
.comment-respond {
	@include max-content-width;
	.comment-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		font-size: $font-size-sm;
		textarea,
		.form-submit {
			font-size: 1rem;
		}
		p {
			margin-bottom: 0;
			flex: 0 0 100%;
		}
		.form-submit {
			text-align: right;
			input {
				@include button;
			}
		}
		label {
			display: block;
			padding-bottom: .4em;
		}
		.required {
			color: darkred;
			font-size: $font-size-xs;
		}
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			flex: 0 1 33%;
			max-width: 100%;
		}
	}
}

.comments-link {
    color: $color-text-secondary;
}

@media screen and (min-width: $breakpoint-1) {
	.children {
		margin-left: 2em;
	}
}
