.site {
    /* fixes bug where full-bleed content creates horizontal scrollbar. May have undesireable side effects...? */
    overflow-x: hidden;
}

%smallscreen-padding {
	padding-left: 1rem; // 16px
	padding-right: 1rem; // 16px
	
	@media screen and (min-width: $breakpoint-3) {
		padding-left: 0;
		padding-right: 0;
	}
}

.site-content {
    @extend %smallscreen-padding;
}

@media screen {
    .print {
        display: none;
    }
}

.search-results .search-form {
	margin: 0 auto 1em auto;
	text-align: center;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
@import "archives";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
.home.page {
    .entry-header {
        display: none;
    }
}

