.site {
    /* fixes bug where full-bleed content creates horizontal scrollbar. May have undesireable side effects...? */
    overflow-x: hidden;
}


%site-content {
    padding: 0 1rem;
}

.site-content {
    @extend %site-content;
    // so when .site-content gets extended elsewhere, it isn't affected by later changes
    //overflow-x: scroll;
}
@media screen {
    .print {
        display: none;
    }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
@import "archives";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
@import "front-page";
