.site {
    /* fixes bug where full-bleed content creates horizontal scrollbar. May have undesireable side effects...? */
    overflow-x: hidden;
}


%smallscreen-padding {
	padding: 0 1rem;
	
	@media screen and (min-width: $breakpoint-3) {
		padding: 0;
	}
}

.site-content {
    @extend %smallscreen-padding;
    // so when .site-content gets extended elsewhere, it isn't affected by later changes
    //overflow-x: scroll;
}
@media screen {
    .print {
        display: none;
    }
}

.search-results .search-form {
	margin: 0 auto 1em auto;
	text-align: center;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "posts-and-pages";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
@import "archives";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "comments";

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
@import "front-page";
