.home.page {
    .entry-header {
        display: none;
    }
}

/*
 * Hack... for now.
*/
.home {
    .wp-block-columns {
        svg {
            display: block;
            margin: auto;
            color: $color-text-headers;
        }
    }
}
