//
// MARKED FOR REDO
//
.home.page {
    .entry-header {
        display: none;
    }
}

.cat-blocks {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;

    .entry-title,
    .cat-title {
        font-size: 1.5em;
        text-align: center;
        margin: 0;
    }

    p {
        font-size: .9em;
        &.wp-block-cover-image-text {
            font-size: 1.2em;
        }
    }
}

.cat-block-wrap {
    border: 1px solid $color-border;
    border-radius: 5px;
    margin: 0 .5em 1.5em .5em;
    overflow:hidden;
    background: $color-bg-header-alt;
    max-width: 320px;
}

.cat-block {
	position: relative;
    min-height: 20em;
    margin: 0;
    height: 100%;
    padding-bottom: 1px; /* fixes the overlay link in Firefox */
    
    p {
        margin-left: .5em;
        margin-right: .5em;
        font-size: 1.2em;
        color: $color-text-secondary;
        z-index: 1;
    }
    
    img {
        width: 100%;
    }
}

.overlay-link {
    @include link-overlay;
}
