/** General **/
.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.site-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}

/** Entry header **/

.entry-header {
    @extend %smallscreen-padding;

    .cat-links {
        margin-bottom: .5em;
        display: block;
    }
}
.entry-title {
    margin: 0;
}
.entry-meta {
    @include avatar(48px);
	font-size: $font-size-sm;
	margin-top: .5em;
    > * {
        display: block;
    }
}

.updated-on {
	display: none !important;
}

/** Entry Header Media Queries **/

@media screen and (min-width: $breakpoint-1) and (max-width: $breakpoint-3) {
    .single .entry-meta {
        @include entry-meta-inline;
		padding-top: 1em;
    }
}
@media screen and (min-width: $breakpoint-3) {
    .single .entry-meta {
        @include avatar(72px);
    }
    .single .has-post-thumbnail {
        // on big screens, stop full-bleed image and switch to side-by-side layout
        .entry-header {
            @include max-site-width;
            display: flex;
            flex-direction: row-reverse;
            align-items: stretch;
            justify-content: space-between;
        }
        .entry-header-wrap {
			width: 45%;
			margin: 0;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
        }
        .breadcrumbs-nav {
			grid-row: 1 / 1;
			grid-column: 1 / 1;
			align-self: start;
			margin: 0; // cancel the max-width effect
			padding: 0;
        }
        .entry-title {
            grid-row: 2 / 2;
			grid-column: 1 / 1;
            align-self: end;
        }
        .entry-meta {
            grid-row: 3 / 3;
			grid-column: 1 / 1;
            align-self: start;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}

/** Entry Footer **/
.post-taxonomy {
	>:not(:last-child) {
		margin-bottom: .5em;
	}
}
.single .entry-footer {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    background: $color-bg-header;
    padding: .5em 1em;
    @include full-bleed;
    h3 {
        margin: 0;
    }
    .comments-link {
        display: block;
    }
}

.entry-footer-wrapper > * {
    margin-bottom: .5em;
}

@media screen and (min-width: $breakpoint-1) {
    .single .entry-footer {
        width: 100vw !important;
        max-width: 100vw !important;
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;

        .entry-footer-wrapper {
            max-width: $size-max-width;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .post-navigation {
            flex: 0 0 100%;
            margin-right: 0; // cancel default margin
        }
    }
}

/** Post body **/

.single .post .entry-content > *:not(.alignwide):not(.alignfull) {
    @include max-content-width;
}
@media screen and (min-width: $breakpoint-1) {
    .single .post .entry-content {
        margin-top: 1em;
    }
}

.excerpt-entry,
.single-post {
    .entry-header {
        h1, h2 {
            font-family: $font-reading;
        }
    }
    .entry-content {
        font-family: $font-reading;
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-reading;
        }
    }
}

.page .page .entry-title,
.archive-title {
	text-align: center;
}

.page .page { // Doubled because the class appears twice on single pages, but once on excerpts
	.entry-content {
		//font-size: $font-size-sm;
		//line-height: calculate-line-height($font-size-sm, $size-content);
	}
    .entry-header {
        @include max-site-width;
    }
    .entry-content > *:not(.alignwide):not(.alignfull) {
        @include max-content-width;
	}
}

/** Error 404 **/
.error404 .page-content {
    .search-form {
        margin-bottom: 1em;
        text-align: center;
        [type="search"] {
            width: 100%;
            margin-bottom: .5em;
        }
    }
}

/* Media queries */

@media screen and (min-width: $breakpoint-1) {
    .error404 .page-content {
        .search-form {
            display: flex;
            flex-direction: row;
            label {
                width: 70%;
                margin-right: .5em;
            }
        }
    }
}