/** General **/
.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}
.post-nav-links {
	clear: both;
	margin: 0 0 1.5em; // cancel _navigation.scss
	border-style: none; // cancel _navigation.scss
	padding-top: 0; // cancel _navigation.scss
	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}
}
.site-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}

/* 
 * Entry header
 */
.entry-header {
    .cat-links {
		@extend h4;
    }
}
.entry-title {
	margin: 0;
	a {
		color: $color-text-main;
		&:active,
		&:focus,
		&:hover {
			color: $color-link-hover;
		}
	}
}
.single .entry-meta {
	font-size: $font-size-sm;
	margin-top: .5em;
	display: flex;
	flex-flow: row nowrap;
    > * {
        display: block;
	}
	.entry-meta-wrapper > * {
		display: block;
	}
	.avatar {
		height: $size-avatar-md;
		width: $size-avatar-md;
		display: block;
		// float: left;
		margin-right: 1em;
	}
}

.entry-header,
.entry-footer {
	@extend %font-UI;
}
.entry-title,
.post-title { // nav links
	@extend %font-reading;
}

/*
 * Entry Footer
 */
.post-taxonomy {
	> :not(:last-child) {
		margin-bottom: .5em;
	}
}
.post-time {
	font-size: $font-size-sm;
	font-style: italic;
	// text-align: right;
}
.single .entry-footer {
	border-top-style: double;
	border-bottom-style: double;
	background: $color-bg-footer;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	opacity: $opacity-aside;
    h3 {
        margin: 0;
    }
    .comments-link a {
		border-radius: $border-radius-button-square;
		@extend %button;
		@extend %button-color;
		@extend %button-background;
		&:hover,
		&:active,
		&:focus {
			@extend %button-hover;
		}
	}
	> * {
		margin-bottom: .5em;
	}
}
/*
 * Post body
 */

.single .post .entry-content > *:not(.alignwide):not(.alignfull) {
    @include max-content-width;
}

/*
 * Pages
 */
.page .page .entry-title,
.archive-title {
	text-align: center;
}

.page .page { // Doubled because the class appears twice on single pages, but once on excerpts
    .entry-header {
        @include max-site-width;
    }
    .entry-content > *:not(.alignwide):not(.alignfull) {
        @include max-content-width;
	}
}

/*
 * Error 404 & Search Page
 */
.search-results,
.error404 {
	.page-content .search-form {
        margin-bottom: 1em;
        text-align: center;
        [type="search"] {
            width: 100%;
            margin-bottom: .5em;
        }
    }
}

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-1) {
	/*
	 * Entry footer
	 */
    .single .entry-footer {
		max-width: $size-site-width;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> * {
			flex: 1 0 100%;
		}
		.post-taxonomy,
		.post-social {
			flex: 0 1 50%;
		}
		.post-social {
			text-align: right;
		}
        .post-navigation {
            margin-right: 0; // cancel default margin
        }
	}
	/*
	 * Error 404 & Search Page
	 */
	.search-results,
    .error404 {
		.page-content .search-form {
            display: flex;
            flex-direction: row;
            label {
                width: 70%;
                margin-right: .5em;
            }
			[type="search"] {
				margin-bottom: 0;
			}
        }
    }
}
@media screen and (min-width: $breakpoint-3) {
	/*
	 * Entry header
	 */
    .single .entry-meta {
		.avatar {
			height: $size-avatar-lg;
			width: $size-avatar-lg;
		}
    }
    .single .has-post-thumbnail {
        // on big screens, stop full-bleed image and switch to side-by-side layout
        .entry-header {
            display: flex;
            flex-direction: row-reverse;
            align-items: stretch;
            justify-content: space-between;
        }
        .entry-header-wrap {
			margin: 0 1em 0 0;
			flex: 1 1 50%;
			display: flex;
			flex-flow: column;
			justify-content: center;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}