/*************** General ***************/
.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.site-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}
/*************** Entry header ***************/
.single .entry-header {
    @extend %site-content;
}

.entry-header-wrap {
    margin-top: 1em;
}
.entry-title {
    margin: 0;
}
.cat-links {
    font-size: 1.3em;
    margin-bottom: .5em;
    display: block;

    &:before {
        @include dashicon($glyph-category);
        color: $color-link;
    }
}
.tags-links:before {
    @include dashicon($glyph-tags);
}
.entry-meta {
    color: $color-text-secondary;
    
    @include avatar(48px);
    
    .byline {
        font-size: 1.2em;
    }
    
    > * {
        display: block;
    }
}
.posted-on a {
    color: $color-text-secondary;
    
    &:hover,
    &:focus {
        color: $color-link-hover;
    }
}
@media screen and (min-width: $breakpoint-1) and (max-width: $breakpoint-3) {
    .single .entry-meta {
        @include entry-meta-inline;
    }
}
@media screen and (min-width: $breakpoint-3) {
    .single .entry-meta {
        @include avatar(72px);
    }
    .single .entry-header {
        padding: 0;
    }
    .single .has-post-thumbnail {
        .entry-header {
            @include max-site-width;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .entry-header-wrap {
            margin: 0 0 1em 0;
            width: 45%;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}

.single .entry-footer {
    border-top: 1px solid $color-border;
    padding-top: 1em;
}
/*************** Post body ***************/
@media screen and (min-width: $breakpoint-2) {
    //.single-post .site-content,
    .archive-view .site-content {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        
        .content-area {
            width: 100%;
        }
    }
}
.single .post .entry-content > *:not(.alignwide):not(.alignfull) {
    @include max-content-width;
}
@media screen and (min-width: $breakpoint-1) {
    .single .post .entry-content {
        margin-top: 1em;
    }
}
/*************** Page header ***************/
.page .entry-header {
    @include max-site-width;
}
/*************** Page body ***************/
.page {
    .entry-title {
        text-align: center;
    }
    .entry-content {
        @include max-page-width;
        h2 {
            margin-top: 2em;
        }
    }
}

/*************** Attachments ***************/

.entry-attachment {
    text-align: center;
    
    img {
        max-height: 90vh;
    }
}

/*************** Asides ***************/

.single-format-aside .site-header .entry-header {
    display: none;
}
.single article.format-aside {
    @include max-content-width;
    .entry-header {
        padding: 0;
    }
    .entry-footer {
        padding: 0;
    }
    .entry-meta {
        margin: 0;
    }
}
article.format-aside  {
    @include drop-shadow;
    margin: 2em auto 2em auto;
    background: white;
    padding: .5em;
    
    .entry-footer {
        border: none;
    }
    
    .entry-meta {
        .avatar {
            // override the default avatar styling
            position: static;
            top: auto;
            left: auto;
            margin-right: .5em;
            vertical-align: middle;
        }
    }
    
    @media screen and (min-width: $breakpoint-1) {
        padding-left: 1em;
        padding-right: 1em;
    }
}
/*
@media screen and (min-width: $breakpoint-1) {
    .single-format-aside .site-content {
        .content-wrap {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
        }

        .post {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 3em;
        }
        
        .entry-content {
            //width: 66%;
            @include max-content-width;
            margin-left: 2em;
        }
        
        .entry-footer {
            border: 0;
        }
        
    }
    
    .aside-body {
        width: 100%;
    }
}*/