/** General **/
.sticky {
	display: block;
}
/*.updated:not(.published) {
	display: none;
}*/
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.site-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}

/** Entry header **/

.single .entry-header {
    @extend %site-content;
    color: $color-text-secondary;

    .cat-links {
        font-size: 1.3em;
        margin-bottom: .5em;
        display: block;
        //color: $color-text-secondary;
    }
}
.entry-title {
    margin: 0;
}
.entry-meta {
    @include avatar(48px);
    
    .byline {
        font-size: 1.2em;
    }
    
    > * {
        display: block;
    }

    .updated-on {
        display: none !important;
    }
}

/** Entry Header Media Queries **/

@media screen and (min-width: $breakpoint-1) and (max-width: $breakpoint-3) {
    .single .entry-meta {
        @include entry-meta-inline;
    }
}
@media screen and (min-width: $breakpoint-3) {
    .single .entry-meta {
        @include avatar(72px);
    }
    .single .entry-header {
        padding: 0;
    }
    .single .has-post-thumbnail {
        .entry-header {
            @include max-site-width;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: space-between;
        }
        .entry-header-wrap {
            margin: 0 0 1em 0;
            width: 45%;
        }
        .breadcrumbs-nav {
            height: 143px;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}

/** Entry Footer **/
.single .entry-footer {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    background: $color-bg-body-alt;
    padding: 0 1em 1em 1em;
    @include full-bleed;

    color: $color-text-secondary;
    font-size: 1.3em;

    h3 {
        font-size: 1em;
        line-height: 1.2;
        margin: 1em 0;
    }
    
    // Fix Jetpack stuff
    div.sharedaddy h3.sd-title:before,
    #jp-relatedposts h3.jp-relatedposts-headline em:before {
        content: none;
    }
    div.sharedaddy h3.sd-title,
    #jp-relatedposts h3.jp-relatedposts-headline,
    #jp-relatedposts h3.jp-relatedposts-headline em,
    #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
        font-size: 1em;
        font-weight: 400;
        margin: 1em 0;
        line-height: 1.2;
    }
    #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context, 
    #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
        opacity: 1;
    }
    #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-nothumbs p.jp-relatedposts-post-excerpt {
        margin-bottom: .5em;
    }
}

@media screen and (min-width: $breakpoint-1) {
    .single .entry-footer {
        width: 100vw !important;
        max-width: 100vw !important;
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;

        .entry-footer-wrapper {
            max-width: $size-max-width;
            margin: auto;
            display: flex;
            flex-wrap: wrap;

            > * {
                margin-right: 1em;
            }
        }

        .jp-relatedposts,
        .post-navigation {
            flex: 0 0 100%;
            margin-right: 0; // cancel default margin
        }
    }

    .entry-footer #jp-relatedposts {
        margin: auto;
    }
}

/** Post body **/

.single .post .entry-content > *:not(.alignwide):not(.alignfull) {
    @include max-content-width;
}
@media screen and (min-width: $breakpoint-1) {
    .single .post .entry-content {
        margin-top: 1em;
    }
}

/** Page header **/

.page {
    .entry-title {
        text-align: center;
    }
    .entry-header {
        @include max-site-width;
    }
}

/** Page body **/

.page {
    .entry-content > *:not(.alignwide):not(.alignfull) {
        @include max-page-width;
    }
    //.entry-content h2 {
    //    margin-top: 2em;
    //}
}

/** Asides **/

.single-format-aside .site-header .entry-header {
    display: none;
}
.single article.format-aside {
    @include max-content-width;
    .entry-header {
        padding: 0;
    }
    .entry-footer {
        padding: 0;
    }
    .entry-meta {
        margin: 0;
    }
}
article.format-aside {
    @include drop-shadow;
    margin: 2em auto 2em auto;
    background: white;
    padding: .5em;
    
    .entry-footer {
        border: none;
    }
    
    .entry-meta {
        .avatar {
            // override the default avatar styling
            position: static;
            top: auto;
            left: auto;
            margin-right: .5em;
            vertical-align: middle;
        }
    }
}

/** Asides Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    article.format-aside {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/** Error 404 **/
.error404 .page-content {
    .search-form {
        margin-bottom: 1em;
        text-align: center;
        [type="search"] {
            width: 100%;
            margin-bottom: .5em;
        }
    }
}

/* JetPack social stuff */

.sharedaddy {
    max-width: 100% !important;
    font-family: $font-UI;

    .sd-title {
        font-family: $font-UI !important;
    }
}

/* Media queries */

@media screen and (min-width: $breakpoint-1) {
    .error404 .page-content {
        .search-form {
            display: flex;
            flex-direction: row;
            label {
                width: 70%;
                margin-right: .5em;
            }
        }
    }
}