/** General **/
.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.site-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}

/** Entry header **/

.single .entry-header {
    @extend %site-content;
}
.entry-header-wrap {
    margin-top: 1em;
}
.entry-title {
    margin: 0;
}
.cat-links {
    font-size: 1.3em;
    margin-bottom: .5em;
    display: block;

    &:before {
        @include dashicon($glyph-category);
        color: $color-link;
    }
}
.entry-meta {
    color: $color-text-secondary;
    
    @include avatar(48px);
    
    .byline {
        font-size: 1.2em;
    }
    
    > * {
        display: block;
    }
}
.posted-on a {
    color: $color-text-secondary;
    
    &:hover,
    &:focus {
        color: $color-link-hover;
    }
}

/** Entry Header Media Queries **/

@media screen and (min-width: $breakpoint-1) and (max-width: $breakpoint-3) {
    .single .entry-meta {
        @include entry-meta-inline;
    }
}
@media screen and (min-width: $breakpoint-3) {
    .single .entry-meta {
        @include avatar(72px);
    }
    .single .entry-header {
        padding: 0;
    }
    .single .has-post-thumbnail {
        .entry-header {
            @include max-site-width;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .entry-header-wrap {
            margin: 0 0 1em 0;
            width: 45%;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}

/** Entry Footer **/

.single .entry-footer {
    border-top: 1px solid $color-border;
    padding-top: 1em;
}
.tags-links:before {
    @include dashicon($glyph-tags);
}

/** Post body **/

.single .post .entry-content > *:not(.alignwide):not(.alignfull) {
    @include max-content-width;
}
@media screen and (min-width: $breakpoint-1) {
    .single .post .entry-content {
        margin-top: 1em;
    }
}

/** Page header **/

.page {
    .entry-title {
        text-align: center;
    }
    .entry-header {
        @include max-site-width;
    }
}

/** Page body **/

.page {
    .entry-content > *:not(.alignwide):not(.alignfull) {
        @include max-page-width;
    }
    .entry-content h2 {
        margin-top: 2em;
    }
}

/** Asides **/

.single-format-aside .site-header .entry-header {
    display: none;
}
.single article.format-aside {
    @include max-content-width;
    .entry-header {
        padding: 0;
    }
    .entry-footer {
        padding: 0;
    }
    .entry-meta {
        margin: 0;
    }
}
article.format-aside {
    @include drop-shadow;
    margin: 2em auto 2em auto;
    background: white;
    padding: .5em;
    
    .entry-footer {
        border: none;
    }
    
    .entry-meta {
        .avatar {
            // override the default avatar styling
            position: static;
            top: auto;
            left: auto;
            margin-right: .5em;
            vertical-align: middle;
        }
    }
}

/** Asides Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    article.format-aside {
        padding-left: 1em;
        padding-right: 1em;
    }
}

/** Error 404 **/
.error404 .page-content {
    .search-form {
        margin-bottom: 1em;
        text-align: center;
        [type="search"] {
            width: 100%;
            margin-bottom: .5em;
        }
    }
}

/* Media queries */

@media screen and (min-width: $breakpoint-1) {
    .error404 .page-content {
        .search-form {
            display: flex;
            flex-direction: row;
            label {
                width: 70%;
                margin-right: .5em;
            }
        }
    }
}