.sticky {
	display: block;
}
/*
.hentry {
	margin: 0 0 1.5em;
}*/

.updated:not(.published) {
	display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@media screen and (min-width: 900px) {
    .post-content-wrap .entry-content {
        margin-top: 0;
    }
}
/************************** Entry Header Styles *****************************/
.entry-title {
    margin: 0;
}

.entry-meta > * {
    display: block;
}

.post-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}

.entry-header-wrap {
    margin-top: 1em;
}

@media screen and (min-width: $breakpoint__3) {
    .single .has-post-thumbnail {
        .entry-header {
            @include max-site-width;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .entry-header-wrap {
            margin: 0 0 1em 0;
            width: 45%;
        }
        
        .entry-meta > * {
            display: inline-block;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}

.post-content-body {
    width: 100%;
}
.post .entry-content {
    & > * {
        @include max-content-width;
    }
    .alignwide {
        /* displays as full on small screens */
        max-width: 100vw;
        margin-right: -1em;
        margin-left: -1em;
        
        @media screen and (min-width: $breakpoint__1) {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    .alignfull {
        width: 100vw;
        max-width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.page .entry-content {
    @include max-content-width;
}
.post-content-body {
    border-bottom: 1px solid $color__header-light;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
@media screen and (min-width: $breakpoint__1) {
    .entry-meta {
        & > * {
            display: inline;
        }

        .posted-on:before,
        .comments-link:before,
        .edit-link:before,
        .span-reading-time:before {
            content: "| ";
            margin: 0 0.5em;
            color: $color__border-menu;
        }
    }
}
/*.single .entry-content {
    margin: 0 -1em;
    padding: 0 1em;
    border-bottom: 1px solid $color__border-button;
    /*border-top: 1px solid $color__border-button;*//*
}*/
.has-post-thumbnail .post-content {
    border-top: 0;
}
@media screen and (min-width: $breakpoint__2) {
    .post-content {
        display: flex;
        justify-content: space-around;
    }
    .post-content-body {
        margin: 0;
    }
}