/*************** General ***************/
.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.post-content,
.entry-header-wrap,
.content-wrap {
    @include max-site-width;
}
/*************** Entry header ***************/
.entry-header-wrap {
    margin-top: 1em;
}
.entry-title {
    margin: 0;
}
.entry-meta {
    color: $color-text-secondary;
    
    > * {
        display: block;
    }
}
@media screen and (min-width: $breakpoint-1) {
    .entry-meta {
        & > * {
            display: inline;
        }
        
        > *:after {
            content: " |";
            margin: 0 0.5em;
            color: $color-border;
        }
        
        > *:last-child:after {
            content: "";
        }
    }
}
@media screen and (min-width: $breakpoint-3) {
    .single .has-post-thumbnail {
        .entry-header {
            @include max-site-width;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        .entry-header-wrap {
            margin: 0 0 1em 0;
            width: 45%;
        }
        
        .entry-meta > * {
            display: inline-block;
        }
    }
    .single .entry-title {
        margin: .5em 0;
    }
}
/*************** Post body ***************/
.post-content-body {
    width: 100%;
    border-bottom: 1px solid $color-border;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.post .entry-content {
    & > * {
        @include max-content-width;
    }
    .alignwide {
        /* displays as alignfull on small screens */
        max-width: 100vw;
        margin-right: -1em;
        margin-left: -1em;
        
        @media screen and (min-width: $breakpoint-1) {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    .alignfull {
        width: 100vw;
        max-width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
@media screen and (min-width: $breakpoint-2) {
    .post-content {
        display: flex;
        justify-content: space-around;
    }
    .post-content-body {
        margin: 0;
    }
}
/*************** Page body ***************/
.page {
    .entry-title {
        text-align: center;
    }
    .entry-content {
        @include max-content-width;
        h2 {
            margin-top: 2em;
        }
    }
}