@mixin max-site-width {
	@media screen and (min-width: $size-site-width) {
		max-width: $size-site-width;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin max-content-width {
    max-width: $size-content;
    margin-right: auto;
    margin-left: auto;
}

@mixin drop-shadow {
    background: $color-bg-body;
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.2);
	border-radius: .25em;
}

@mixin full-bleed {
	/* full-bleed on small screens */
    margin-left: -1rem;
    margin-right: -1rem;
}

@mixin full-bleed-cancel {
	/* cancel full-bleed on larger screens */
	margin-left: 0;
	margin-right: 0;
}

@mixin center-block {
	display: block; // might not be necessary
	margin-left: auto !important;
	margin-right: auto !important;
}

@mixin tab-head {
	display: inline-block;
	border-top-left-radius: $border-radius-button-square;
	border-top-right-radius: $border-radius-button-square;
	background: $color-link;
	color: $color-bg-body;
	padding: 0 .5em;
	margin: 0;
	a {
		color: $color-bg-body;
		&:hover,
		&:active,
		&:focus {
			background: $color-link-hover;
		}
	}
}