@mixin allcaps-letterspacing {
	letter-spacing: .06em;
}

@mixin figcaption {
	font-size: $font-size-sm;
	opacity: $opacity-aside;
	text-align: center;
	margin-top: 0;
	margin-bottom: .5em;
}

@mixin figcaption-overlay {
    background: linear-gradient( transparent 0, rgba(0,0,0,.5) 40%, rgba(0,0,0,.8) 100%);
	color: $color-bg-body;
	text-shadow: 0 0 6px $color-text-main;
	padding: .2em .5em;
	font-size: $font-size-xs;
	font-style: italic;
	margin-bottom: 0; // cancel default style
	opacity: 1;
}

@mixin list-margins {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}

@mixin nested-list-margins {
	margin-bottom: 0;
	margin-left: 0;

}

@mixin unordered-list-styles {
	list-style: disc;
    ul {
        list-style: circle;
        ul {
            list-style: square;
            ul {
                list-style: initial;
            }
        }
    }
}

@mixin ordered-list-styles {
	list-style: decimal;
    ol {
        list-style: upper-alpha;
        ol {
            list-style: lower-roman;
            ol {
                list-style: lower-alpha;
                ol {
                    list-style: initial;
                }
            }
        }
    }
}
@mixin hr {
	background-color: $color-link;
	border: 0;
	height: 2px;
	margin-bottom: 1.5em;
}

@mixin blockquote {
    padding: 0 1.5em; /* use padding, not margins to avoid conflict with post content margins */
	border-left-width: 4px;
	border-left-style: solid;
}

@mixin cite {
	font-style: italic;
	opacity: .9;
}