@mixin widget-columns {
	// Show 3 columns of widgets
	// With an even number of widgets, show the first one at full width;
	@include column-width(3);
	margin-right: $columns-margin;
	&:nth-child(3n+3) {
		margin-right: 0;
	}
	// &:nth-last-child(even):first-of-type,
	// &:nth-last-child(even):first-of-type ~ .widget {
	// 	@include column-width(2);
	// 	margin-right: $columns-margin;
	// 	&:nth-child(2n+2) {
	// 		margin-right: 0;
	// 	}
	// }
	&:nth-last-child(even):first-of-type {
		width: 100%;
		margin-right: 0;
		opacity: 1;
	}
	&:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+3) {
		margin-right: $columns-margin;
	}
	&:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+4) {
		margin-right: 0;
	}
}

@mixin widget-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		display: block;
		margin-bottom: .5em;
		ul,
		ol {
			margin-left: .5em;
		}
		a {
			display: block;
			padding: .5em 0;
			text-decoration: none;
			border-bottom: 1px dashed currentColor;
			&:hover,
			&:focus {
				text-decoration: none;
				border-bottom: 1px dashed currentColor;
			}
		}
	}
    .children,
    .sub-menu {
        padding-top: 0;
        padding-bottom: .5em;
		margin-left: 1em;
		font-size: $font-size-sm;
        a:before {
            content: $glyph-arrow-down-right + " ";
        }
    }
    li {
	   padding: 0;
    }
}