%button {
    padding: .2em .75em;
	@extend %font-UI;
	text-decoration: none;
	border-radius: $border-radius-button;
	border: 1px solid $color-text-main;
	@include button-text-shadow;
	&:hover {
		text-decoration: none;
	}
}

%button-color {
	color: $color-bg-body;
}

%button-background {
	background: $color-link;
}

%button-shadow {
	box-shadow: $shadow-button;
}

%button-active {
	transform: translateY(1px);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.8)
}