.site-footer {
    /*text-align: center;*/
    background: $color-bg-dark;
    position: relative;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    border-top: 1px solid $color-border;

    ul a {
        display: block;
        padding: 0.25em 1em;
    }
}

/*.footer-wrapper {
    @include max-site-width;
}*/

.social-media {
    margin: 0.25em 1em .5em 1em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: $breakpoint-1) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
