.site-footer {
    text-align:center;
    background: $color__background-body-dark;
    color: $color__header-dark;
    font-family: $font__headers;
    position: relative;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    border-top: 1px solid $color__header-light;

    ul a {
        display: block;
        padding: 0.25em 1em;
    }
}

.footer-wrapper {
    max-width: $size__max-width;
    margin: auto;
}

.social-media {
    margin: 0.25em 1em .5em 1em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 480px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
