.site-header {
    background: $color__background-header;
    /*margin-left: -1em;
    margin-right: -1em;*/
    text-align: center;
    border-bottom: 1px solid $color__header-light;

    a {
        color: $color__link;
        text-decoration: none;
    }

    .search-form {
        display: none;
        text-align: right;

        @media screen and (min-width: $breakpoint__2) {
            display: block;
        }
    }

    .search-field {
        font-size: .8em;
        width: 300px;
    }

    .search-submit {
        display: none;
    }
}
.site-title {
    margin-bottom: 0;
    margin-top: .5em;
}
.site-description {
    margin: 0 1em .5em 1em;
}
.site-header-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* Header Media Queries */
@media screen and (min-width: $breakpoint__1) {
    .site-header {
        margin-bottom: 0;
        padding-top: .67em;
        padding-bottom: .67em;
    }
    .site-header-wrapper {
        @include max-site-width;
    }
    .site-title{
        margin: 0;
    }
    .site-description {
        margin: 0;
    }
}
@media screen and (min-width: $breakpoint__2) {
    .site-header {
        text-align: left;
    }
    .site-header-wrapper {
        align-items: flex-end;
        flex-flow: row;
        justify-content: space-between;
    }
    .site-branding {
        flex-shrink: 1;
    }
    .main-navigation {
        display: block;
        flex-shrink: 2;
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1336px) {
}
@media screen and (min-width: 1920px) {

}

@media screen and (min-width: 1024px) {
}
