.global-header {
    background: $color-bg-header;
    border-bottom: 1px solid $color-border;
    display: flex; // this fixes a weird bug
    flex-flow: column; // this fixes a weird bug
    @include drop-shadow-bottom;
}
.site-header-wrapper {
    padding-left: 1em;
    padding-right: 1em;
}
.site-branding {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    margin: .5em 0;
}
.site-title {
    margin: 0;
    & a {
        color: $color-headers;
    }
}
.site-description {
    margin: 0 0 .5em 0;
    flex: 2 100%;
}

/** Fixed Header **/
/* See also: the scrolling code in functions.js */
@media screen {
    .fixed-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 9;
        display: block; // this fixes a weird bug
        .site-header-wrapper {
        }
        .site-branding {
            flex-shrink: 0;
        }
        .site-description {
            display: none;
        }
    }
    .sticky-top {
        margin-top: 60px;
    }
}

/** Header Media Queries **/

@media screen and (max-width: $breakpoint-1) {
   .fixed-header .site-title {
        margin-top: 0;
    }
}
@media screen and (max-width: $breakpoint-1) and (orientation: landscape) {
    /* When a small screen is oriented in landscape, hide the header unless the scrolling js overrides it */
    .fixed-header:not(.header-visible) {
        position: relative;
    }
    .sticky-top:not(.header-visible) {
        margin-top: 0;
    }
}
@media screen and (min-width: $breakpoint-1) {
    .site-branding {
        text-align: left;
    }
    .global-header {
        margin-bottom: 0;
        padding-top: .67em;
        padding-bottom: .67em;
        display: block; // this fixes a weird bug
    }
    .fixed-header {
        padding: 0;
    }
    .sticky-top {
        margin-top: 90px;
    }
    .site-header-wrapper {
        @include max-site-width;
        display: flex;
        align-items: flex-end;
        flex-flow: row;
        justify-content: space-between;
    }
    .site-title{
        margin: 0;
    }
    .site-description {
        margin: 0;
    }
    .site-header {
        text-align: left;
    }
    .site-branding {
        margin-right: 2em;
    }
    .main-navigation {
        display: block;
    }
}
@media screen and (min-width: $breakpoint-2) {
    .sticky-top {
        margin-top: 110px;
    }
}

/* Offesets values from wp-includes/css/admin-bar.css */
.admin-bar .fixed-header {
    top: 32px; /* admin-bar.css:84 */
    @media screen and ( max-width: 782px ) {
        top: 46px; /* admin-bar.css:970 */
    }
    @media screen and (max-width: 600px) {
        top: 0; /* admin-bar.css:1081 */
    }
}