.global-header {
    background: $color-bg-header;
    //text-align: center;
    border-bottom: 1px solid $color-border;
    @include drop-shadow-bottom;

    a {
        color: $color-link;
    }

    .search-form {
        display: none;
        text-align: right;

        @media screen and (min-width: $breakpoint-1) {
            display: block;
        }
    }

    .search-field {
        font-size: .8em;
        width: 300px;
    }

    .search-submit {
        display: none;
    }
}
.site-title {
    margin-bottom: 0;
    margin-top: .5em;
}
.site-description {
    margin: 0 0 .5em 0;
}
.site-header-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-left: 1em;
    padding-right: 1em;
}

/* Header Media Queries */
@media screen and (min-width: $breakpoint-1) {
    .global-header {
        margin-bottom: 0;
        padding-top: .67em;
        padding-bottom: .67em;
    }
    .site-header-wrapper {
        @include max-site-width;
    }
    .site-title{
        margin: 0;
    }
    .site-description {
        margin: 0;
    }
}
@media screen and (min-width: $breakpoint-1) {
    .site-header {
        text-align: left;
    }
    .site-header-wrapper {
        align-items: flex-end;
        flex-flow: row;
        justify-content: space-between;
    }
    .site-branding {
        flex-shrink: 0;
    }
    .main-navigation {
        display: block;
        flex-shrink: 2;
        font-size: 1.2em;
    }
}
.archive-view .entry-header {
    margin-left: 1em;
    margin-right: 1em;
    @include max-site-width;
}