.global-header {
    background: $color-bg-header;
    border-bottom: 1px solid $color-border;
    @include drop-shadow-bottom;

    a {
        color: $color-link;
    }

    .search-form {
        display: none;
        text-align: right;

        @media screen and (min-width: $breakpoint-1) {
            display: block;
        }
    }

    .search-field {
        font-size: .8em;
        width: 300px;
    }

    .search-submit {
        display: none;
    }
}
.site-branding {
    text-align: center;
}
.site-title {
    margin-bottom: 0;
    margin-top: .5em;
}
.site-description {
    margin: 0 0 .5em 0;
}
.site-header-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-left: 1em;
    padding-right: 1em;
}
/** Fixed Header **/

@media screen {
    .fixed-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 9;
        .site-header-wrapper {
        }
        .site-branding {
            flex-shrink: 0;
        }
        .site-description {
            display: none;
        }
    }
    .sticky-top {
        margin-top: 70px;
    }
}

/** Header Media Queries **/

@media screen and (max-width: $breakpoint-1) {
   .fixed-header .site-title {
        margin-top: 0;
        font-size: 1.5em;
    }
}
@media screen and (min-width: $breakpoint-1) {
    .site-branding {
        text-align: left;
    }
    .global-header {
        margin-bottom: 0;
        padding-top: .67em;
        padding-bottom: .67em;
    }
    .fixed-header {
        padding: 0;
    }
    .site-header-wrapper {
        @include max-site-width;
    }
    .site-title{
        margin: 0;
    }
    .site-description {
        margin: 0;
    }
    .admin-bar .fixed-header {
        top: 46px;
    }
    .site-header {
        text-align: left;
    }
    .site-header-wrapper {
        align-items: flex-end;
        flex-flow: row;
        justify-content: space-between;
    }
    .site-branding {
        //flex-shrink: 0;
        margin-right: 2em;
    }
    .main-navigation {
        display: block;
        //flex-shrink: 2;
        font-size: 1.2em;
    }
}
@media screen and (min-width: $breakpoint-2) {
    .admin-bar .fixed-header {
        top: 32px;
    }
}