/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-button {
    text-align: right;
    position: relative;

    @media screen and (min-width: $breakpoint-1) {
        display: none;
    }

    .menu-toggle {
        display: inline;
        text-transform: uppercase;
        font-size: 1em;
        @include button;

        &::before {
            content: $glyph-arrow-down;
            padding-right: .5em;
            font-size: .7em;
        }
    }
}

.toggled {
    .menu-toggle {
        &:before {
            content: $glyph-arrow-up;
        }
    }
}


.menu-item-has-children {
    a:after {
        content: $glyph-arrow-down;
        font-size: .7em;
        padding-left: .5em;
    }
    ul a:after {
        content: "";
    }
}


.main-navigation {
	clear: both;
	display: block;
	float: left;
    position: relative;
    font-family: $font-UI;
    font-size: 1.1em;
    text-align: center;
    width: 100%;

	ul {
        display: none;
        list-style: none;
        margin: 0;
        position: relative;
        padding: 0;

		ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            background: $color-bg-header;
            border: 1px solid $color-border;
            display: block;
            width: 100%;

			ul {
				left: -999em;
				top: 0;
			}

            li {
                border-bottom: 1px solid $color-border;

                &:last-child {
                    border-bottom: none;
                }

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			:hover > a,
			.focus > a {
                color: $color-link-hover;
			}

			a:hover,
			a.focus {
                color: $color-link-hover;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
            right: 0;
		}
	}

	li {
		float: none;
		position: relative;

        li {
            padding: 0;
        }

		&:hover > a,
		&.focus > a {
            color: $color-link-hover;
		}
	}

	a {
        display: block;
        text-decoration: none;
        padding: .5em 0 .5em 0;
        color: $color-link;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}


    @media screen and (min-width: $breakpoint-1) {
        width: intrinsic;
        line-height: 1.1em;

        ul {
            display: flex;
            justify-content: flex-end;

            ul {
                margin-left: 0;
                width: intrinsic;
                text-align: left;
                padding: 0 1em;

                &:before {
                    content: $glyph-arrow-up;
                    font-size: .7em;
                    position: absolute;
                    right: 0;
                    top: -14px;
                    color: $color-border;
                }

                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
        }

        a {
            letter-spacing: 0.025em;
        }
        
        li {
            padding-left: 1.2em;
            
            &:first-child {
                padding-left: 0;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-1) {
	.menu-toggle {
		display: none;
	}
}
