/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.main-navigation.toggled {
    height: 100vh;
    overflow: scroll
}
.menu-button {
    margin: .25em 0;
    text-align: right;
    position: relative;
    .menu-toggle {
        display: inline;
        font-size: 1em;
        background: $color-bg-body-alt;
        color: $color-link;

        &::after {
            @include dashicon($glyph-menu);
            padding-right: 0;
            padding-left: 6px;
        }
    }
}
.toggled .menu-toggle:after {
    @include dashicon($glyph-x);
    padding-right: 0;
    padding-left: 6px;
 }
.menu-item-has-children {
    a:after {
        content: $glyph-arrow-down;
        font-size: .7em;
        padding-left: .5em;
    }
    ul a:after {
        content: "";
    }
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
    position: relative;
    text-align: center;
    width: 100%;
	ul {
        display: none;
        list-style: none;
        margin: 0;
        position: relative;
        padding: 0;
		ul {
            @include drop-shadow;
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            background: $color-bg-header;
            border: 1px solid $color-border;
            display: block;
            width: 100%;
			ul {
				left: -999em;
				top: 0;
			}
            li {
                border-bottom: 1px solid $color-border;
                &:last-child {
                    border-bottom: none;
                }
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
			:hover > a,
			.focus > a {
                color: $color-link-hover;
			}
			a:hover,
			a.focus {
                color: $color-link-hover;
			}
		}
		li:hover > ul,
		li.focus > ul {
			left: auto;
            right: 0;
		}
	}
	li {
		float: none;
		position: relative;
        li {
            padding: 0;
        }
		&:hover > a,
		&.focus > a {
            color: $color-link-hover;
		}
	}
	a {
        display: block;
        text-decoration: none;
        padding: .5em 0 .5em 0;
        color: $color-link;
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
    @media screen and (min-width: $breakpoint-1) {
        width: auto;
        line-height: 1.1em;
        ul {
            display: flex;
            justify-content: flex-end;
            ul {
                margin-left: 0;
                width: auto;
                text-align: left;
                padding: 0 1em;
                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
        }
        a {
            letter-spacing: 0.025em;
        }
        li {
            padding-left: 1.2em;
            &:first-child {
                padding-left: 0;
            }
        }
    }
}
@media screen and (min-width: $breakpoint-1) {
	.menu-toggle {
		display: none;
	}
    .menu-button {
        display: none;
    }
}
.menu-item-object-category {
    a {
        text-indent: -24px;
        padding-left: 16px;
        &:before {
            @include dashicon($glyph-category);
        }
    }
}