/*
 * Small menu.
 */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-button {
    margin: .25em 0 .25em .25em;
    text-align: right;
	position: relative;
    .menu-toggle {
        display: inline;
		box-shadow: none; // cancel _elements.scss
		padding: .1em;
		.svg-icon {
			font-size: $font-size-xxxl;
		}
    }
    .dismiss-icon {
        display: none;
    }
}
.menu-button.toggled {
    .menu-icon {
        display: none;
    }
    .dismiss-icon {
        display: inline;
    }
}
.menu-item-has-children {
    a:after {
        content: $glyph-arrow-down;
        font-size: .7em;
        padding-left: .5em;
    }
    ul a:after {
        content: "";
    }
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
    position: relative;
    text-align: center;
	width: 100%;
	ul {
        display: none;
        list-style: none;
        margin: 0;
        position: relative;
        padding: 0;
		ul {
            @include drop-shadow;
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            background: $color-bg-header;
            border: 1px solid $color-border;
            display: block;
            width: 100%;
			ul {
				left: -999em;
				top: 0;
			}
            li {
                border-bottom: 1px solid $color-border;
                &:last-child {
                    border-bottom: none;
                }
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
			:hover > a,
			.focus > a {
                color: $color-link-hover;
			}
			a:hover,
			a.focus {
                color: $color-link-hover;
			}
		}
		li:hover > ul,
		li.focus > ul {
			left: auto;
            right: 0;
		}
	}
	li {
		float: none;
		position: relative;
        li {
            padding: 0;
        }
		&:hover > a,
		&.focus > a {
            color: $color-link-hover;
		}
	}
	a {
        display: block;
        padding: .5em 0 .5em 0;
	}
	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {
	// }
}
/*
 * Workarounds for fixed header
 * This stuff is all pretty hacky and I'm not sure how to make it more elegant.
 */
 /*
.main-navigation.toggled {
    height: calc( 100vh - 6.4em ); // 128px = size of header. Estimation, not accurate!
	overflow: scroll;
}
.fixed-header .main-navigation.toggled {
	height: calc( 100vh - 3.65em ); // 73px = size of header. Estimation, not accurate!
}
/* Offesets values from wp-includes/css/admin-bar.css */
/*
@media screen and ( max-width: 782px ) { /* admin-bar.css:970 *//*
	.admin-bar {
		.main-navigation.toggled {
			height: calc( 100vh - 6.4em - 46px );
		}
		.fixed-header .main-navigation.toggled {
			height: calc( 100vh - 3.65em);
		}
	}
}
*/

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-1) {
	.menu-toggle {
		display: none;
	}
    .menu-button {
        display: none;
	}
	.main-navigation {
        width: auto;
        line-height: 1.1; /* fixes vertical dropdown menu spacing */
        ul {
            display: flex;
            justify-content: flex-end;
            ul {
                margin-left: 0;
                width: auto;
                text-align: left;
                padding: 0 1em;
            }
        }
        li {
            padding-left: 1.2em;
            &:first-child {
                padding-left: 0;
            }
        }
	}
}
