/*--------------------------------------------------------------
### Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
### Content navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.paging-navigation,
.single-post .post-navigation {
	text-align: left;

	a {
		display: block;
		width: 100%;
	}
}

.post-nav-links,
.pagination {
	margin-top: 2em;
	padding-top: 1em;
	border-top-width: 4px;
	border-top-style: solid;
	font-family: $font-UI;
	font-size: $font-size-lg;
	text-align: center;

	.next {
		display: block;
		margin-top: 0.5em;
	}

	.prev {
		display: block;
		margin-bottom: 0.5em;
	}

	.page-numbers,
	.post-page-numbers{

		&:not(.prev):not(.next) {
			margin: 0 0.5em;
		}
	}

	.post-page-numbers.current,
	.page-numbers.current {

		@include current-page;
		padding-bottom: 0.25em;
		opacity: $opacity-aside;
	}
}

// Jetpack Infinite Scroll
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle { // .infinite-scroll is just an extra specificity to override built-in CSS
	text-align: center;

	span {
		background: transparent;
		font-size: 1.3em;

		button,
		button:focus,
		button:hover {

			@include button;
			@include button-background;
			@include button-color;
		}
	}
}

.infinite-loader {
	margin: 1em 0;

	.spinner {
		margin: auto;
	}
}

.nav-links {
	margin: 0 auto;
	padding: 0 0.4em; /* ? */
}

.nav-previous {
	margin-bottom: 0.5em;
}

.single-post .post-navigation {
	margin-top: 1em;
	
	.meta-nav {
		color: $color-text-main;
	}

	.meta-nav,
	.post-title {
		display: block;
	}

	.nav-next {
		text-align: right;
	}

	.nav-previous .post-title {
		padding-left: 24px;
	}

	.nav-next .post-title {
		padding-right: 24px;
	}
}

/* stylelint-disable no-descending-specificity */
.attachment .post-navigation {

	.meta-nav {
		color: $color-text-main;
	}

	.post-title {
		text-decoration: underline;
	}
}

/*
 * Navigation Media Queries
 */

@media screen and (min-width: $breakpoint-1) {

	.comment-navigation,
	.posts-navigation,
	.single-post .post-navigation {

		.nav-previous {
			padding-bottom: 0;
		}

		.nav-previous,
		.nav-next {
			display: flex;
			width: 45%;
			align-items: stretch;
		}



		.nav-next:only-child {
			width: 100%;
		}
	}

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0;
	}

	.pagination {

		.nav-links {
			justify-content: center;
		}

		.page-numbers:not(.next):not(.prev) {
			text-align: center;
		}

		.next {
			text-align: right;
		}

		.next,
		.prev {
			margin: 0 1em;
		}
	}
}
/* stylelint-enable no-descending-specificity */

@media screen and (min-width: $breakpoint-2) {

	.post-navigation .post-title {
		font-size: $font-size-lg;
	}
}
