/*--------------------------------------------------------------
### Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
### Content navigation
--------------------------------------------------------------*/
.comment-navigation,
.single-post .post-navigation,
.posts-navigation,
.paging-navigation {
    text-align: left;
    
    a {
        display: block;
        width: 100%;
        //background: $color-bg-body;
        //font-size: 1.3em;
        //@include button-outline;
    }
}

.pagination {
    text-align: center;
    font-size: 1.3em;
    .next {
        display: block;
        margin-top: .5em;
    }
    .prev {
        display: block;
        margin-bottom: .5em;
    }
    .page-numbers:not(.prev):not(.next) {
        margin: 0 .5em;
        //padding-left: .8rem; // make them a bit rounder
        //padding-right: .8rem; // make them a bit rounder
    }
}

// Jetpack Infinite Scroll
.infinite-scroll .pagination {
    display: none;
}

.infinite-scroll #infinite-handle { // .infinite-scroll is just an extra specificity to override built-in CSS
    text-align: center;
    span {
        background: transparent;
        font-size: 1.3em;
        button,
        button:focus,
        button:hover {
            @include button;
        }
    }
}
.infinite-loader {
    margin: 1em 0;
    .spinner {
        margin: auto;
    }
}

.attachment {
    .comment-navigation,
    .posts-navigation,
    .paging-navigation {
        a {
            @include drop-shadow;
            @include button-outline;
        }
    }
}

.nav-links {
    margin: 0 auto;
    padding: 0 0.4em; /* ? */
}
.nav-previous {
    margin-bottom: .5em;
}
.widget.breadcrumbs-nav {
    margin: .2em 0 0 0;
    margin-bottom: 1em;
    font-size: .9em;
	padding: 0;
}

.single-post .post-navigation {
    margin-top: 1em;
    
    .meta-nav {
        color: $color-text-secondary;
    }
    .meta-nav,
    .post-title {
        display: block;
    }
    .nav-next {
        text-align: right;
    }
    .nav-previous .post-title {
        padding-left: 24px;
    }
    .nav-next .post-title {
        padding-right: 24px;
    }
}

.attachment .post-navigation {
    font-size: 1.3em;
    .meta-nav {
        color: $color-text-secondary;
    }
    .post-title {
        text-decoration: underline;
    }
}

/** Navigation Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .comment-navigation,
    .posts-navigation,
    .single-post .post-navigation {
        .nav-previous {
            //float: left;
            padding-bottom: 0;
        }

        .nav-previous,
        .nav-next {
            width: 45%;
            display: flex;
            align-items: stretch;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }
    
    .pagination {
        .nav-links {
            justify-content: center;
        }
        .page-numbers:not(.next):not(.prev) {
            text-align: center;
        }
        .next {
            text-align: right;
        }
        .next,
        .prev {
            margin: 0 1em;
        }
    }
}
@media screen and (min-width: $breakpoint-2) {
    .post-navigation .post-title {
        font-size: 18px;
        font-size: 1.125em;
    }
}
