/*--------------------------------------------------------------
### Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
### Content navigation
--------------------------------------------------------------*/
.comment-navigation,
.post-navigation,
.posts-navigation,
.paging-navigation {
    text-align: left;
    overflow: hidden;

    a {
        display: block;
        width: 100%;
        @include button-outline;
    }
}

.post-navigation-title {
    font-family: $font-UI;
    font-weight: normal;
    color: $color-text-secondary;
    
    a[rel~='category'] {
    }
}

.nav-links {
    margin: 0 auto;
    padding: 0 0.4em; /* ? */
}
.nav-previous {
    padding-bottom: 1em;
}
.meta-nav:after {
    content: ":";
}

@media screen and (min-width: $breakpoint-1) {

    .comment-navigation,
    .posts-navigation,
    .post-navigation {
        .nav-previous {
            float: left;
            padding-bottom: 0;
        }

        .nav-next {
            float: right;
            text-align: right;
        }

        .nav-previous,
        .nav-next {
            width: 45%;
            display: flex;
            align-items: stretch;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    .post-navigation .meta-nav {
        display: block;
    }
}
@media screen and (min-width: $breakpoint-2) {
    .post-navigation .post-title {
        font-size: 18px;
        font-size: 1.125em;
    }
}

.breadcrumbs {
    margin-top: .5em;
    @include max-site-width;
    
    .widget {
        margin: 0;
        font-size: .9em;
    }
}
