/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Content navigation
--------------------------------------------------------------*/
.comment-navigation,
.post-navigation,
.posts-navigation,
.paging-navigation {
    /*padding: 2em 0;*/
    font-family: $font__headers;
    text-align: left;
    overflow: hidden;

    a {
        display: block;
        width: 100%;
        text-decoration: none;
        padding: 1em;
        border: 1px solid $color__border-menu;
        font-family: $font__UI;
        &:hover,
        &:focus {
            color: $color__link-hover;
        }
    }
}

.post-navigation-title {
    font-family: $font__UI;
    font-weight: normal;
    color: $color__tint;
}

.nav-links {
    margin: 0 auto;
    padding: 0 0.4em; /* ? */
}
.nav-previous {
    padding-bottom: 1em;
}
.meta-nav:after {
    content: ":";
}

@media screen and (min-width: $breakpoint__1) {

    .comment-navigation,
    .posts-navigation,
    .post-navigation {
        /*
        .site-main & {
            /*margin: 0 0 1.5em;*
            overflow: hidden;
        }*/

        .nav-previous {
            float: left;
            padding-bottom: 0;
        }

        .nav-next {
            float: right;
            text-align: right;
        }

        .nav-previous,
        .nav-next {
            width: 45%;
            display: flex;
            align-items: stretch;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
    }

    .post-navigation .meta-nav {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    .post-navigation .post-title {
        font-size: 18px;
        font-size: 1.125em;
    }
}
