/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background: $color-bg-footer;
    position: relative;
	@extend %smallscreen-padding;
	padding-top: .5em;
	padding-bottom: .5em;
    margin-top: 1em;
    box-shadow: inset 0 1em 1.5em -1em rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
@import "navigation";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Plugins
--------------------------------------------------------------*/
@import "plugins";
