/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
    background: $color-bg-footer;
    position: relative;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    border-top: 1px solid $color-border;
    @include drop-shadow-top;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
@import "navigation";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
## Plugins
--------------------------------------------------------------*/
@import "plugins";
