/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	position: relative;
	margin-top: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	box-shadow: inset 0 1em 1.5em -1em rgba(0, 0, 0, 0.2);
	font-size: $font-size-sm;
	
	@extend %smallscreen-padding;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
@import "navigation";

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
@import "widgets";
