.widget {
	font-family: $font-UI;
	margin: 0;
    // padding: 1em;
	width: 100%;

    ul,
    ol {
		@include widget-list;
    }

    select {
        width: 100%;
        height: 2.5em;
        padding: 10px;
        border: 1px solid #ccc;
    }
}
/* Search widget. */
.widget_search {

    .search-submit {
	   display: none;
    }

    input[type="search"] {
        box-sizing: border-box;
        width: 100%;
        padding: .5em 1em;
        border: 1px solid #c3c3c3;
        border-radius: 0;
    }
}

/* Archive and Categories widgets */
.widget_archive li {
	color: #7D7D7D;
}
// .widget_pages,
// .widget_nav_menu,
// .widget_categories,
// .widget_recent_entries {
// }
/* Meta widget */
.widget_meta li {
	padding: 0;
}

/* Recent comments */
.widget_recent_comments {
    li {
	   line-height: 1.3em;
	   padding-bottom: .5em;
    }
    a:hover,
    a:focus {
	padding-left: 0;
}
}

/* RSS widget */
.widget_rss li {
	margin-bottom: 1em;
}

.widget li a.rsswidget {
	padding-right: .5em;
}

.rss-date,
.widget_rss cite {
	color: #333;
}

.rssSummary {
	padding: .5em 0;
	font-family: $font-reading;
}

/* Calendar widget */
.widget_calendar {
	font-weight: 400;
    max-width: 250px;

    caption {
        padding: .5em 0;
        font-size: 1em;
        font-weight: 500;
        text-align: left;
    }

    thead {
        background: transparent;
        color: black;
        th {
            border-bottom-width: 2px;
        }
    }

    td {
        padding: .2em;
        text-align: center;
        background: white;
        border: 1px solid #cccccc;
    }

    th {
        border: none;
        text-align: center;
    }

    .pad {
        background: #eaeaea;
    }

    a {
        font-weight: 900;
        text-decoration: none;
    }
}

/* Tags */
.tagcloud {
	text-align: center;
}
.tags-links a,
.tag-title,
.tag-cloud-link {
	background-color: rgba(0, 0, 0, .1);
	padding: 0 .25em;
	margin: .1em 0;
	display: inline-block;
	.svg-icon {
		opacity: .8;
	}
}
// separate border radiuses
.tags-links a,
.tag-cloud-link,
.tag-title {
	border-radius: 1em .3em .3em 1em;
}
.tag-cloud-link {
	padding-left: .5em;
}
.tags-links a,
a.tag-cloud-link {
	color: $color-text-headers;
	&:hover,
	&:focus {
		color: $color-link;
	}
}

/** Breadcrumbs **/
.widget.breadcrumbs-nav {
	opacity: $opacity-aside;
	font-size: $font-size-sm;
	margin-bottom: .25em;
	> div {
		// @include tab-head;
		display: inline-block;
		overflow: hidden;
		max-width: $breakpoint-1 / 2;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		padding: .25em;
	}
}

/** Widget Area **/

.widget-area {
    display: flex;
    flex-flow: row;
	flex-wrap: wrap;
    margin-top: 1em;
}
/* Page widgets */
.page,
.single-attachment {
    .widget-area {
        margin-top: 2em;
    }
}

/** Archive View Widgets **/

.archive-view {
    .site-content .widget {
        margin-bottom: 1em;
    }
}

.widget-title,
.widgettitle {
    margin: 0 0 .5em;
}
.archive-widget-area {
    // for the widgets outside regular widget-area
    .widget {
		font-size: 1rem;
        > ul {
            list-style: none;
            //font-size: 1.1em;
			display: flex;
			flex-flow: row wrap;
            > .cat-item {
                width: 100%;
            }
		}
    }
}

/** Footer Widgets **/
.footer-widgets {
    @include max-site-width;
    .widget {
        margin: 0 0 1em;
        padding: 0 0 1em;

        .original-title {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .widget_calendar td,
    .footer-widgets .widget_calendar a {
        color: black;
    }
}

/** Widget Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .widget-area {
		.widget {
			@include widget-columns;
		}
    }
    .archive-widget-area {
		.widget > ul > .cat-item { // category widget
			@include column-width(3);
			margin-right: $columns-margin;
			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}
    .archive-widget-area-bottom {
        margin-top: 4em;
        margin-bottom: 4em;
    }
    .footer-widgets {
        display: flex;
        flex-wrap: wrap;
        .widget {
            @include widget-columns;
        }
    }
}

@media screen and (min-width: $breakpoint-2) {
    .widget-area {
        margin-top: 0;
    }
    .single-post .widget-area {
        margin-top: 4em;
    }
    .archive-view {
        .site-content .widget {
            margin-bottom: 4em;
        }
        .widget-area {
            display: block;
            margin-left: 2em;
            width: $size-widget;
            .widget {
                width: $size-widget !important; // cancel the column width
				margin: 0 0 4em;
				.alignleft,
				.alignright {
					/*
					 * Don't align stuff on this small of a size;
					 */
					float: none;
					@include center-block;
				}
            }
        }
    }
}
