.widget {
	font-family: $font-widget;
	margin: 0;
    padding: 1em;
	/* Make sure select elements fit in widgets. */
	font-size: $font-size-xs;
	line-height: calculate-line-height($font-size-xs, $size-widget);

    ul,
    ol {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            display: block;
            margin-bottom: .5em;
            ul,
            ol {
                margin-left: .5em;
			}
			a {
				display: block;
				padding: .5em 0;
				text-decoration: none;
				border-bottom: 1px dashed $color-border;
				&:hover,
				&:focus {
					text-decoration: none;
					border-bottom: 1px dashed $color-border;
				}
			}
        }
    }

    select {
        width: 100%;
        height: 2.5em;
        padding: 10px;
        border: 1px solid #ccc;
    }
}
/* Search widget. */
.widget_search {

    .search-submit {
	   display: none;
    }

    input[type="search"] {
        box-sizing: border-box;
        width: 100%;
        padding: .5em 1em;
        border: 1px solid #c3c3c3;
        border-radius: 0;
    }
}

/* Archive and Categories widgets */
.widget_archive li {
	color: #7D7D7D;
}
.widget_pages,
.widget_nav_menu,
.widget_categories,
.widget_recent_entries {

    .children,
    .sub-menu {
        padding-top: 0;
        padding-bottom: .5em;
        margin-left: 1em;

        a:before {
            content: $glyph-arrow-down-right + " ";
        }
    }
    li {
	   padding: 0;
    }
}
/* Meta widget */
.widget_meta li {
	padding: 0;
}

/* Recent comments */
.widget_recent_comments {
    li {
	   line-height: 1.3em;
	   padding-bottom: .5em;
    }
    a:hover,
    a:focus {
	padding-left: 0;
}
}

/* RSS widget */
.widget_rss li {
	margin-bottom: 1em;
}

.widget li a.rsswidget {
	padding-right: .5em;
}

.rss-date,
.widget_rss cite {
	color: #333;
}

.rssSummary {
	padding: .5em 0;
	font-family: $font-reading;
}

/* Calendar widget */
.widget_calendar {
	font-weight: 400;
    max-width: 250px;

    caption {
        padding: .5em 0;
        font-size: 1em;
        font-weight: 500;
        text-align: left;
    }

    thead {
        background: transparent;
        color: black;
        th {
            border-bottom-width: 2px;
        }
    }

    td {
        padding: .2em;
        text-align: center;
        background: white;
        border: 1px solid #cccccc;
    }

    th {
        border: none;
        text-align: center;
    }

    .pad {
        background: #eaeaea;
    }

    a {
        font-weight: 900;
        text-decoration: none;
    }
}

/* Tags */
.tagcloud {
	text-align: center;
}
.tags-links a,
.tag-title,
.tag-cloud-link {
	background-color: rgba(0, 0, 0, .1);
	padding: 0 .25em;
	margin: .1em 0;
	display: inline-block;
	.svg-icon {
		opacity: .8;
	}
}
// separate border radiuses
.tags-links a,
.tag-title {
	border-radius: 1em .3em .3em 1em;
}
.tag-cloud-link {
	border-radius: .3em;
}
.tags-links a,
a.tag-cloud-link {
	color: $color-headers; // hack
	&:hover,
	&:focus {
		color: $color-link-hover;
	}
}

/** Breadcrumbs **/
.widget.breadcrumbs-nav {
    margin: .2em 0 0 0;
    margin-bottom: 1em;
	font-size: $font-size-xs;
	padding: 0;
	@include max-site-width;
	a {
		color: $color-headers; // Hack
		&:hover,
		&:focus {
			color: $color-link-hover;
		}
	}
}

/** Widget Area **/

.widget-area {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 1em;
    @include full-bleed;
    .widget {
        @include widget-columns;
    }
}
/* Page widgets */
.page,
.single-attachment {
    .widget-area {
        border-top: 1px solid $color-border;
        margin-top: 2em;
    }
}

/** Archive View Widgets **/

.archive-view {
    .site-content .widget {
        @include drop-shadow;
        margin-bottom: 1em;
    }
}

.widget-title,
.widgettitle {
    margin: 0 0 .5em;
}
.archive-widget-area {
    // for the widgets outside regular widget-area
    @include full-bleed;
    .widget {
		font-size: $font-size-sm; // instead of -xs
        > ul {
            list-style: none;
            //font-size: 1.1em;
			display: flex;
			flex-flow: row wrap;
            > .cat-item {
                @include widget-columns;
            }
		}
    }
}

/** Footer Widgets **/
.footer-widgets {
    @include max-site-width;
    color: $color-text-secondary;
    .widget {
        margin: 0 0 1em;
        padding: 0 0 1em;

        .original-title {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .widget_calendar td,
    .footer-widgets .widget_calendar a {
        color: black;
    }
}

/** Widget Media Queries **/

@media screen and (min-width: $breakpoint-1) {
    .widget-area {
        // cancels the full-bleed
        margin-left: 0;
        margin-right: 0;
    }
    .archive-widget-area {
        margin-left: 0;
        margin-right: 0;
    }
    .archive-widget-area-bottom {
        margin-top: 4em;
        margin-bottom: 4em;
    }
    .footer-widgets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        ///* If only one widget is displayed, make it full width. */
        ///* If 2 or 3 widgets are displayed, make the second one twice as wide. */
        ///* If 4 or more widgets are displayed, show three across when available. */
        ///* If more than 4 widgets are displayed, the last one takes up the full width. */
        .widget {
            @include column-width(3);
            //&:only-of-type {
            //    width: 100%;
            //}
            //&:nth-last-child(n+2):nth-last-child(-n+3):first-child ~ .widget:nth-child(2) {
            //    flex: 2;
            //}
            //
            //&:nth-last-child(n+4),
            //&:nth-last-child(n+4) ~ .widget {
            //    @include column-width(3);
            //}
            ///*&:nth-last-child(n+4) ~ .widget:last-child {
            //    flex-grow: 1;
            //    flex-shrink: 1;
            //
            //    &.widget_nav_menu {
            //        ul {
            //            display: flex;
            //            flex-wrap: wrap;
            //        }
            //        a {
            //            border: 0;
            //        }
            //    }
            //}*/
        }
    }
}

@media screen and (min-width: $breakpoint-2) {
    .widget-area {
        margin-top: 0;
    }
    .single-post .widget-area {
        margin-top: 4em;
    }
    .archive-view {
        .site-content .widget {
            margin-bottom: 4em;
        }
        .widget-area {
            display: block;
            margin-left: 1em;
            max-width: $size-widget;
            .widget {
                width: $size-widget;
                margin: 0 0 4em;
            }
        }
    }
}
