.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comments-area {
    width: 100%;
    margin: 3em 0;
    padding: 1.5em 0;
    border-top: 1px solid $color__background-header;
}
.comments-title {
	margin-bottom: 2em;
	font-size: 2em;
	font-weight: 300;
    font-family: $font__headers;
}
.comment-list {
	padding: 1em;
	margin: -1em;
	list-style-type: none;
    border-top: 1px solid $color__border-button;
    border-bottom: 1px solid $color__border-button;

    ol {
        list-style-type: none;
    }
}
@media screen and (min-width: 768px) {
    .comment-list {
    	margin: 0;
    }
}
.comment-body {
	border-bottom: 1px solid $color__background-header;
	margin-bottom: 3em;
}
.comment-meta {
	position: relative;
	margin-left: 70px;
	font-family: $font__headers;
	font-size: .9em;
	font-weight: 300;
}
.comment .avatar {
	position: absolute;
	top: -5px;
	left: -70px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.comment-metadata a,
.comment-form a {
	border: none;
	text-decoration: none;
    color: $color__border-menu;
}
.comment-metadata a:hover,
.comment-metadata a:focus,
.comment-form a:hover,
.comment-form a:focus {
    color: $color__link-hover;
}
.children {
	margin-left: 1.5em;
	padding-left: 0;
}
.comment-metadata {
    margin-top: .2em;
    padding-bottom: .5em;
    line-height: 1em;
}
.comment-author {
    line-height: 1.3em;
    font-size-adjust: 1.125em;
    font-weight: 400;
}
.says {
    font-size: .8em;
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;
}
.reply a {
	display: inline-block;
    @include button-light
}
.comment-content a {
	word-wrap: break-word;
}
/******************* Comment Form **********************/
.comment-reply-title {
	line-height: 1.3em;
	font-family: $font__headers;
}
.comment-list .comment-reply-title {
	text-align: left;
}
.comment-form {
	line-height: 1.3em;
	font-family: $font__headers;

    .form-submit {
        text-align: right;
        input {
            @include button-light;
        }
    }

    label {
        width: 33%;
        display: block;
        font-style: italic;
        padding-bottom: .4em;
    }

    .required {
        color: red;
    }
}

@media screen and (min-width: 900px) {
	.children {
		margin-left: 2em;
	}
	.no-sidebar .children {
		margin-left: 2.4em;

        .comment-meta {
            font-size: .875em;
            margin-left: 80px;
        }

        .avatar {
            top: -7px;
            left: -80px;
            width: 60px;
            height: 60px;
        }

        .comment-content {
            margin-left: 80px;
        }
	}
}
@media screen and (min-width: 1080px) {
    .no-sidebar {
        .children {
            margin-left: 3em;
        }
        .comment-meta {
            margin-left: 90px;
        }
        .comment .avatar {
            top: -8px;
            left: -90px;
            width: 70px;
            height: 70px;
        }
        .comment-content {
            margin-left: 90px;
        }
    }
}
