.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}
/*
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
*/
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@media screen and (min-width: 900px) {
    .no-sidebar .post-content-wrap .entry-content {
        margin-top: 0;
    }
}
/************************** Entry Header Styles *****************************/
.entry-header {
    font-family: $font__main;
    margin-bottom: 1em;
}
.entry-title {
    margin: 0;
    font-family: $font__headers;
    font-size: 1.5em;
    color: $color__background-header;
    font-weight: 600;
}
@media screen and (min-width: 768px){
    .entry-title {
        font-size: 2em;
    }
}
.entry-meta {
    color: $color__background-header;
    font-size: 0.9em;
}
.entry-header a {
    color: $color__border-menu;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color__link-hover;
    }
}

.entry-title a {
    color: $color__background-header;

    &:hover,
    &:focus {
        color: $color__border-menu;
    }
}

.entry-meta .byline,
.entry-meta .posted-on,
.entry-meta .comments-link,
.entry-meta .edit-link {
    display: block;
}
@media screen and (min-width: 768px) {
    .entry-meta {
        font-size: 1em;

        .byline,
        .posted-on,
        .comments-link,
        .edit-link {
            display: inline;
        }

        .posted-on:before,
        .comments-link:before,
        .edit-link:before {
            content: "| ";
            margin: 0 0.5em;
            color: $color__border-menu;
        }
    }
}
@media screen and (min-width: 900px) {
    .no-sidebar .post-content-wrap  {

        .entry-meta {
            margin-top: 1em;
            font-size: .9em;

            a {
                display: block;
                font-size: 1.1em;
            }

            .byline,
            .posted-on,
            .comments-link,
            .edit-link {
                display: block;
                margin-bottom: 1em;
            }

            .posted-on:before,
            .comments-link:before,
            .edit-link:before {
                content: "";
                margin: 0;
            }
        }
    }
}
.cat-links {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
